<h1>
<center>
Midterm 1 Practice
</center>
</h1>
<div class=h1_cell>

You will be working with a new table. It contains data from animal shelters in Austin Texas. Similar for real midterm - you will be asked to work with a new data source (that is not the shelter table).
<p>
  This practice is for self-study. You do not turn it in. It assumes you have completed module 4 assignment.
  <p>
    Good news and bad news on the real midterm. Bad: you only have 80 minutes. Good: it is open everything.
    <p>
      You will need to have your laptop at the real midterm. Show up in the colloqium room in Deschutes Hall at 10AM Wednesday February 6th. You will download the midterm notebook at that time and turn it in within the 80 minute class period.
</div>

In [0]:
import pandas as pd

url = 'https://docs.google.com/spreadsheets/d/e/2PACX-1vQzp8j-3lcGBQawTBO86qdF5UdUs0h6Ya2nZOf7wTf4Wl96FKJKAg0sUQ9n4hIObufrLRShoWLcRd9-/pub?output=csv'
shelter_table = pd.read_csv(url)

In [0]:
pd.set_option('display.max_columns', None)
shelter_table.head()

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,A671945,Hambone,2/12/2014 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White
1,A656520,Emily,10/13/2013 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby
2,A686464,Pearce,1/31/2015 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White
3,A683430,NaN,7/11/2014 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream
4,A667013,NaN,11/15/2013 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan

In [0]:
len(shelter_table) #it's a big one

26729

In [0]:
!rm library_w19_week4b.py

rm: cannot remove 'library_w19_week4b.py': No such file or directory

In [0]:
from google.colab import files
files.upload()

Saving library_w19_week4b.py to library_w19_week4b.py

{'library_w19_week4b.py': b'def predictor_case(row, pred, target):\n\tcase_dict = {(0,0): \'true_negative\', (1,1): \'true_positive\', (0,1): \'false_negative\', (1,0): \'false_positive\'}\n\tactual = row[target]\n\tprediction = row[pred]\n\tcase = case_dict[(prediction, actual)]\n\treturn case\n\ndef accuracy(cases):\n    tp = cases[\'true_positive\']\n    tn = cases[\'true_negative\']\n    fp = cases[\'false_positive\']\n    fn = cases[\'false_negative\']\n    return (tp + tn)/(tp+tn+fp+fn)\n\ndef f1(cases):\n    #the heart of the matrix\n    tp = cases[\'true_positive\']\n    fn = cases[\'false_negative\']\n    tn = cases[\'true_negative\']\n    fp = cases[\'false_positive\']\n    \n    #other measures we can derive\n    recall = 1.0*tp/(tp+fn)  # positive correct divided by total positive in the table\n    precision = 1.0*tp/(tp+fp) # positive correct divided by all positive predictions made\n    \n    #now for the one we want\n    f1 = 2/(1/recall + 1/precision)\n    \n    return f1\n\ndef informedness(cases):\n    tp = cases[\'true_positive\']\n    fn = cases[\'false_negative\']\n    tn = cases[\'true_negative\']\n    fp = cases[\'false_positive\']\n    recall = 1.0*tp/(tp+fn)  # positive correct divided by total positive in the table\n    specificty = 1.0*tn/(tn+fp) # negative correct divided by total negative in the table\n    J = (recall + specificty) - 1\n    return J\n\n#starting week 3\n\ndef probabilities(counts):\n    count_0 = 0 if 0 not in counts else counts[0]  #could have no 0 values\n    count_1 = 0 if 1 not in counts else counts[1]\n    total = count_0 + count_1\n    probs = (0,0) if total == 0 else (count_0/total, count_1/total)  #build 2-tuple\n    return probs\n\ndef gini(counts):\n    (p0,p1) = probabilities(counts)\n    sum_probs = p0**2 + p1**2\n    gini = 1 - sum_probs\n    return gini\n\ndef gig(starting_table, split_column, target_column):\n    \n    #split into two branches, i.e., two sub-tables\n    true_table = starting_table.loc[starting_table[split_column] == 1]\n    false_table = starting_table.loc[starting_table[split_column] == 0]\n    \n    #Now see how the target column is divided up in each sub-table (and the starting table)\n    true_counts = true_table[target_column].value_counts()  # Note using true_table and not starting_table\n    false_counts = false_table[target_column].value_counts()  # Note using false_table and not starting_table\n    starting_counts = starting_table[target_column].value_counts() \n    \n    #compute the gini impurity for the 3 tables\n    starting_gini = gini(starting_counts)\n    true_gini = gini(true_counts)\n    false_gini = gini(false_counts)\n\n    #compute the weights\n    starting_size = len(starting_table.index)\n    true_weight = 0.0 if starting_size == 0 else len(true_table.index)/starting_size\n    false_weight = 0.0 if starting_size == 0 else len(false_table.index)/starting_size\n    \n    #wrap it up and put on a bow\n    gig = starting_gini - (true_weight * true_gini + false_weight * false_gini)\n    \n    return gig\n\n\'\'\'\ndef entropy(counts):\n    (p0, p1) = probabilities(counts)\n    term1 = -p0*math.log(p0,2) if p0 > 0 else 0\n    term2 = -p1*math.log(p1,2) if p1 > 0 else 0\n    entropy = term1 + term2\n    return entropy\n\ndef IGain(starting_table, split_column, target_column):\n    \n    #split into two branches, i.e., two sub-tables\n    true_table = starting_table.loc[starting_table[split_column] == 1]\n    false_table = starting_table.loc[starting_table[split_column] == 0]\n    \n    #Now see how the target column is divided up in each sub-table (and the starting table)\n    true_counts = true_table[target_column].value_counts()\n    false_counts = false_table[target_column].value_counts()  # Note using true_table and not titanic_table\n    starting_counts = starting_table[target_column].value_counts() \n    \n    #compute the entropy for the 3 tables\n    starting_e = entropy(starting_counts)\n    true_e = entropy(true_counts)\n    false_e = entropy(false_counts)\n\n    #compute the weights\n    starting_size = len(starting_table.index)\n    true_weight = 0.0 if starting_size == 0 else 1.0*len(true_table.index)/starting_size\n    false_weight = 0.0 if starting_size == 0 else 1.0*len(false_table.index)/starting_size\n    \n    #wrap it up and put on a bow\n    infogain = starting_e - (true_weight * true_e + false_weight * false_e)\n    \n    return infogain\n\'\'\'\n\n#week 4\n\ndef build_pred(column, branch):\n    return lambda row: row[column] == branch\n\ndef find_best_splitter(table, choice_list, target):\n  \n    assert (len(table)>0),"Cannot split empty table"\n    assert (target in table),"Target must be column in table"\n    \n    gig_scores = map(lambda col: (col, gig(table, col, target)), choice_list)  #compute tuple (col, gig) for each column\n    gig_sorted = sorted(gig_scores, key=lambda item: item[1], reverse=True)  # sort on gig\n    return gig_sorted\n\nfrom functools import reduce\n\ndef generate_table(table, conjunction):\n  \n    assert (len(table)>0),"Cannot generate from empty table"\n\n    sub_table = reduce(lambda subtable, pair: subtable.loc[pair[1]], conjunction, table)\n    return sub_table\n\ndef compute_prediction(table, target):\n  \n    assert (len(table)>0),"Cannot predict from empty table"\n    assert (target in table),"Target must be column in table"\n    \n    counts = table[target].value_counts()  # counts looks like {0: v1, 1: v2}\n\n    if 0 not in counts:\n        prediction = 1\n    elif 1 not in counts:\n        prediction = 0\n    elif counts[1] > counts[0]:  # ties go to 0 (negative)\n        prediction = 1\n    else:\n        prediction = 0\n\n    return prediction\n\ndef build_tree_iter(table, choices, target, hypers={} ):\n\n    assert (len(choices)>0),"Must have at least one column in choices"\n    assert (target in table), "Target column not in table"\n    assert (len(table) > 1), "Table must have more than 1 row"\n    \n    k = hypers[\'max-depth\'] if \'max-depth\' in hypers else min(4, len(choices))\n    gig_cutoff = hypers[\'gig-cutoff\'] if \'gig-cutoff\' in hypers else 0.0\n    \n    def iterative_build(k):\n        columns_sorted = find_best_splitter(table, choices, target)\n        (best_column, gig_value) = columns_sorted[0]\n        \n        #Note I add _1 or _0 to make it more readable for debugging\n        current_paths = [{\'conjunction\': [(best_column+\'_1\', build_pred(best_column, 1))],\n                          \'prediction\': None,\n                          \'gig_score\': gig_value},\n                         {\'conjunction\': [(best_column+\'_0\', build_pred(best_column, 0))],\n                          \'prediction\': None,\n                          \'gig_score\': gig_value}\n                        ]\n        k -= 1  # we just built a level as seed so subtract 1 from k\n        tree_paths = []  # add completed paths here\n        \n        while k>0:\n            new_paths = []\n            for path in current_paths:\n                old_conjunction = path[\'conjunction\']  # a list of (name, lambda)\n                before_table = generate_table(table, old_conjunction)  #the subtable the current conjunct leads to\n                columns_sorted = find_best_splitter(before_table, choices, target)\n                (best_column, gig_value) = columns_sorted[0]\n                if gig_value > gig_cutoff:\n                    new_path_1 = {\'conjunction\': old_conjunction + [(best_column+\'_1\', build_pred(best_column, 1))],\n                                \'prediction\': None,\n                                 \'gig_score\': gig_value}\n                    new_paths.append( new_path_1 ) #true\n                    new_path_0 = {\'conjunction\': old_conjunction + [(best_column+\'_0\', build_pred(best_column, 0))],\n                                \'prediction\': None,\n                                 \'gig_score\': gig_value}\n                    new_paths.append( new_path_0 ) #false\n                else:\n                    #not worth splitting so complete the path with a prediction\n                    path[\'prediction\'] = compute_prediction(before_table, target)\n                    tree_paths.append(path)\n            #end for loop\n            \n            current_paths = new_paths\n            if current_paths != []:\n                k -= 1\n            else:\n                break  # nothing left to extend so have copied all paths to tree_paths\n        #end while loop\n\n        #Generate predictions for all paths that have None\n        for path in current_paths:\n            conjunction = path[\'conjunction\']\n            before_table = generate_table(table, conjunction)\n            path[\'prediction\'] = compute_prediction(before_table, target)\n            tree_paths.append(path)\n        return tree_paths\n\n    return {\'paths\': iterative_build(k), \'weight\': None}\n\ndef tree_predictor(row, tree):\n  \n    assert (len(tree[\'paths\']) > 0), "Tree must have at least one path"\n    \n    #go through each path, one by one (could use a map instead of for loop?)\n    for path in tree[\'paths\']:\n        conjuncts = path[\'conjunction\']\n        result = map(lambda tuple: tuple[1](row), conjuncts)  # potential to be parallelized\n        if all(result):\n            return path[\'prediction\']\n    raise LookupError(\'No true paths found for row: \' + str(row))\n\n#============== Week 4 version b\n\ndef path_id(row, tree):\n  \n    assert (len(tree[\'paths\']) > 0), "Tree must have at least one path"\n    \n    #go through each path, one by one (could use a map instead of for loop?)\n    for i, path in enumerate( tree[\'paths\']):\n        conjuncts = path[\'conjunction\']\n        result = map(lambda tup: tup[1](row), conjuncts)  # potential to be parallelized\n        if all(result):\n            return i\n    raise LookupError(\'No true paths found for row: \' + str(row))\n\ndef reorder_paths(table, tree):\n  \n    new_paths = []\n    paths = tree[\'paths\']\n\n    tempcounts = table.apply(lambda row: path_id(row, tree), axis=1)\n    valcounts= tempcounts.value_counts()\n    dictcounts = dict(valcounts)\n    listcounts = list(dictcounts.items())\n    sortedcounts = sorted(listcounts, key=lambda x: x[1], reverse=True)\n    print(sortedcounts)\n    \n    for tup in sortedcounts:\n        new_paths.append(paths[tup[0]])\n        \n    return new_paths\n\n\n\n'}

In [0]:
from library_w19_week4b import *
%who function

accuracy	 build_pred	 build_tree_iter	 compute_prediction	 f1	 find_best_splitter	 generate_table	 gig	 gini
informedness	 path_id	 predictor_case	 probabilities	 reorder_paths	 tree_predictor

<hr>
<h1>
1: Slice off first 1000 rows
</h1>
<p>
<div class=h1_cell>
<p>
You can see from the description that the table has 26K+ rows. Trim `shelter_table` down to just its first 1000 rows. Hint: I used the word *slice* on purpose.

</div>

In [0]:
#your code here


len(shelter_table)  #should be 1000

1000

In [0]:
shelter_table.describe(include='all')

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
count,1000,719,1000,1000,488,1000,1000,1000,1000,1000
unique,1000,587,989,5,11,2,5,37,222,111
top,A682578,Daisy,6/26/2015 9:42:00,Adoption,Partner,Dog,Neutered Male,2 years,Domestic Shorthair Mix,Black/White
freq,1,7,2,404,297,581,384,156,333,97

<hr>
<h1>
2: Produce new target column 
</h1>
<p>
<div class=h1_cell>
<p>
We are interested in whether an animal was adopted or not. Create a new column `adopted` that has a 1 if the animal was adopted and a 0 for any other outcome. Use the `OutcomeType` column as reference.
  <p>
    BTW: the `adopted` column is what we will use as our target column. So it is similar to `Survived` in titanic table.
<p>
</div>

In [0]:
#your code here

In [0]:
shelter_table.head()

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color,adopted
0,A671945,Hambone,2/12/2014 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White,0
1,A656520,Emily,10/13/2013 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby,0
2,A686464,Pearce,1/31/2015 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White,1
3,A683430,NaN,7/11/2014 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream,0
4,A667013,NaN,11/15/2013 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan,0

<hr>
<h1>
3: Produce new n/s column 
</h1>
<p>
<div class=h1_cell>
<p>
Please build a new column `n/s` that is 1 if the animal was neutered/spayed and 0 otherwise. Use the `SexuponOutcome` as the reference.
<p>
</div>

In [0]:
#your code here

In [0]:
shelter_table.head()

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color,adopted,n/s
0,A671945,Hambone,2/12/2014 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White,0,1
1,A656520,Emily,10/13/2013 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby,0,1
2,A686464,Pearce,1/31/2015 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White,1,1
3,A683430,NaN,7/11/2014 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream,0,0
4,A667013,NaN,11/15/2013 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan,0,1

<hr>
<h1>
4: Produce new mix column 
</h1>
<p>
<div class=h1_cell>
<p>
I have heard that mixed breeds are more adoptable than pure bred. Wrangle the Breed column into a new column mix that has a 1 if the Breed has the word `Mix` in it, 0 otherwise.
<p>
</div>

In [0]:
#your code here

In [0]:
shelter_table.head()

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color,adopted,n/s,mix
0,A671945,Hambone,2/12/2014 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White,0,1,1
1,A656520,Emily,10/13/2013 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby,0,1,1
2,A686464,Pearce,1/31/2015 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White,1,1,1
3,A683430,NaN,7/11/2014 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream,0,0,1
4,A667013,NaN,11/15/2013 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan,0,1,0

<hr>
<h1>
5: One Hot Encode `AnimalType` 
</h1>
<p>
<div class=h1_cell>
<p>
Use `type` as a prefix.
<p>
</div>

In [0]:
#your code here

In [0]:
shelter_table.head()

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color,adopted,n/s,mix,type_Cat,type_Dog
0,A671945,Hambone,2/12/2014 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White,0,1,1,0,1
1,A656520,Emily,10/13/2013 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby,0,1,1,1,0
2,A686464,Pearce,1/31/2015 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White,1,1,1,0,1
3,A683430,NaN,7/11/2014 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream,0,0,1,1,0
4,A667013,NaN,11/15/2013 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan,0,1,0,0,1

<hr>
<h1>
6: Create new column for unnamed 
</h1>
<p>
<div class=h1_cell>
<p>
A NaN in the `Name` column signifies the animal had no name supplied by the shelter, i.e., it was unnamed. Create a new column `no_name` that is 1 if the animal has no name otherwise 0. I read somewhere that animals without a name were less likely to be adopted.
<p>
</div>

In [0]:
#your code here

In [0]:
shelter_table.head()

,AnimalID,Name,DateTime,OutcomeType,OutcomeSubtype,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color,adopted,n/s,mix,type_Cat,type_Dog,no_name
0,A671945,Hambone,2/12/2014 18:22:00,Return_to_owner,NaN,Dog,Neutered Male,1 year,Shetland Sheepdog Mix,Brown/White,0,1,1,0,1,0
1,A656520,Emily,10/13/2013 12:44:00,Euthanasia,Suffering,Cat,Spayed Female,1 year,Domestic Shorthair Mix,Cream Tabby,0,1,1,1,0,0
2,A686464,Pearce,1/31/2015 12:28:00,Adoption,Foster,Dog,Neutered Male,2 years,Pit Bull Mix,Blue/White,1,1,1,0,1,0
3,A683430,NaN,7/11/2014 19:09:00,Transfer,Partner,Cat,Intact Male,3 weeks,Domestic Shorthair Mix,Blue Cream,0,0,1,1,0,1
4,A667013,NaN,11/15/2013 12:52:00,Transfer,Partner,Dog,Neutered Male,2 years,Lhasa Apso/Miniature Poodle,Tan,0,1,0,0,1,1

<hr>
<h1>
7: Build a tree with depth 3 and default gig-cutoff
</h1>
<p>
<div class=h1_cell>
<p>
Call your tree `tree1`. Use `adopted` as the target column. Here are columns to use as splitters: 
  <pre>
          'no_name',
        'type_Cat', 'type_Dog',
        'n/s',
        'mix'
        </pre>
<p>
</div>

In [0]:
#your code here


tree1['paths']

8

[{'conjunction': [('n/s_1',
    <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('type_Cat_1', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('no_name_1', <function library_w19_week4b.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.0006722200907010589,
  'prediction': 1},
 {'conjunction': [('n/s_1',
    <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('type_Cat_1', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('no_name_0', <function library_w19_week4b.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.0006722200907010589,
  'prediction': 1},
 {'conjunction': [('n/s_1',
    <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('type_Cat_0', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('no_name_1', <function library_w19_week4b.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.008280961246245555,
  'prediction': 1},
 {'conjunction': [('n/s_1',
    <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('type_Cat_0', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('no_name_0', <function library_w19_week4b.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.008280961246245555,
  'prediction': 0},
 {'conjunction': [('n/s_0',
    <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('no_name_1', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('type_Cat_1', <function library_w19_week4b.build_pred.<locals>.<lambda>>)],
  'gig_score': 1.902226445451606e-05,
  'prediction': 0},
 {'conjunction': [('n/s_0',
    <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('no_name_1', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('type_Cat_0', <function library_w19_week4b.build_pred.<locals>.<lambda>>)],
  'gig_score': 1.902226445451606e-05,
  'prediction': 0},
 {'conjunction': [('n/s_0',
    <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('no_name_0', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('type_Cat_1', <function library_w19_week4b.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.004938271604938371,
  'prediction': 0},
 {'conjunction': [('n/s_0',
    <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('no_name_0', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('type_Cat_0', <function library_w19_week4b.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.004938271604938371,
  'prediction': 0}]

<div class=h1_cell>
  <h1>8: Generate results table for tree1</h1>
  So you can compute accuracy, f1 and informedness scores.

<p>
</div>

In [0]:
#build a shelters_result table

In [0]:
#add columns to table


shelter_results.head()

   adopted  tree_1     tree_1_type
0        0       0   true_negative
1        0       1  false_positive
2        1       0  false_negative
3        0       0   true_negative
4        0       1  false_positive

In [0]:
#compute types


tree_1_types

true_negative     500
false_negative    208
true_positive     196
false_positive     96
Name: tree_1_type, dtype: int64

In [0]:
print((accuracy(tree_1_types), f1(tree_1_types), informedness(tree_1_types)))

(0.696, 0.5632183908045977, 0.32407468934812944)

<hr>
<h1>
9: Build a tree with depth 4 and default gig-cutoff
</h1>
<p>
<div class=h1_cell>
<p>
Call your tree `tree2`. Print accuracy, f1 and informedness scores.
<p>
</div>

In [0]:
#build the second tree


tree2['paths']

14

[{'conjunction': [('n/s_0',
    <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('no_name_1', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('type_Cat_0', <function library_w19_week4b.build_pred.<locals>.<lambda>>)],
  'gig_score': 1.902226445451606e-05,
  'prediction': 0},
 {'conjunction': [('n/s_0',
    <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('no_name_0', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('type_Cat_1', <function library_w19_week4b.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.004938271604938371,
  'prediction': 0},
 {'conjunction': [('n/s_1',
    <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('type_Cat_1', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('no_name_1', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('mix_1', <function library_w19_week4b.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.006692444973230294,
  'prediction': 1},
 {'conjunction': [('n/s_1',
    <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('type_Cat_1', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('no_name_1', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('mix_0', <function library_w19_week4b.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.006692444973230294,
  'prediction': 1},
 {'conjunction': [('n/s_1',
    <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('type_Cat_1', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('no_name_0', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('mix_1', <function library_w19_week4b.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.0003621346739452469,
  'prediction': 1},
 {'conjunction': [('n/s_1',
    <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('type_Cat_1', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('no_name_0', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('mix_0', <function library_w19_week4b.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.0003621346739452469,
  'prediction': 1},
 {'conjunction': [('n/s_1',
    <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('type_Cat_0', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('no_name_1', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('mix_1', <function library_w19_week4b.build_pred.<locals>.<lambda>>)],
  'gig_score': 3.52792351462905e-05,
  'prediction': 1},
 {'conjunction': [('n/s_1',
    <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('type_Cat_0', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('no_name_1', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('mix_0', <function library_w19_week4b.build_pred.<locals>.<lambda>>)],
  'gig_score': 3.52792351462905e-05,
  'prediction': 1},
 {'conjunction': [('n/s_1',
    <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('type_Cat_0', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('no_name_0', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('mix_1', <function library_w19_week4b.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.0052052119477850045,
  'prediction': 0},
 {'conjunction': [('n/s_1',
    <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('type_Cat_0', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('no_name_0', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('mix_0', <function library_w19_week4b.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.0052052119477850045,
  'prediction': 1},
 {'conjunction': [('n/s_0',
    <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('no_name_1', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('type_Cat_1', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('mix_1', <function library_w19_week4b.build_pred.<locals>.<lambda>>)],
  'gig_score': 1.5444110851598608e-06,
  'prediction': 0},
 {'conjunction': [('n/s_0',
    <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('no_name_1', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('type_Cat_1', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('mix_0', <function library_w19_week4b.build_pred.<locals>.<lambda>>)],
  'gig_score': 1.5444110851598608e-06,
  'prediction': 0},
 {'conjunction': [('n/s_0',
    <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('no_name_0', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('type_Cat_0', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('mix_1', <function library_w19_week4b.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.0029629629629628895,
  'prediction': 0},
 {'conjunction': [('n/s_0',
    <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('no_name_0', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('type_Cat_0', <function library_w19_week4b.build_pred.<locals>.<lambda>>),
   ('mix_0', <function library_w19_week4b.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.0029629629629628895,
  'prediction': 0}]

<div class=h1_cell>
  <h1>10:Add to results table for tree2</h1>
  So you can compute accuracy, f1 and informedness scores.

<p>
</div>

In [0]:
#your code here


shelter_results.head()

   adopted  tree_1     tree_1_type  tree_2     tree_2_type
0        0       0   true_negative       0   true_negative
1        0       1  false_positive       1  false_positive
2        1       0  false_negative       0  false_negative
3        0       0   true_negative       0   true_negative
4        0       1  false_positive       1  false_positive

In [0]:
#build types


tree_2_types

true_negative     445
true_positive     262
false_positive    151
false_negative    142
Name: tree_2_type, dtype: int64

In [0]:
print((accuracy(tree_2_types), f1(tree_2_types), informedness(tree_2_types)))

(0.707, 0.6413708690330477, 0.395159146787162)

<hr>
<h1>
11: Write a function to find the lowest scoring path
</h1>
<p>
<div class=h1_cell>
<p>
Assume each path in a tree has a gig score. Write a function `find_lowest` that takes a tree as argument and does the following:
<ol>
<li>Find the path with the lowest gig score. In case of ties, choose the first path with lowest score.

<li>Return a tuple of (low_gig, i) where low_gig is the lowest gig you found and i is the index of the path in tree['paths'] with low_gig.
</ol>
<p>
Hint: I ended up using the `enumerate` function in my solution. You can google it if you can't quite remember how `enumerate` works.
</div>

In [0]:
def find_lowest(tree):

In [0]:
find_lowest(tree1)

(1.902226445451606e-05, 4)

In [0]:
find_lowest(tree2)

(1.5444110851598608e-06, 10)

<h1>12: Short Circuit</h1>

Check out the `tree_predictor` function we have been using.
<pre>
def tree_predictor(row, tree):
  #go through each path, one by one (could use a map instead of for loop?)
  for path in tree['paths']:
    conjuncts = path['conjunction']
    result = map(lambda tuple: tuple[1](row), conjuncts)  # potential to be parallelized
    if all(result):
      return path['prediction']
  raise LookupError('No true paths found for row: ' + str(row))
  </pre>
Look at the `map` function. It will check every item in a conjunction. Seems inefficient. We know that if any item in a conjunciton is false, the entire conjunction is false. Once we find a false value we can stop. This should save us some time. This is called short-ciruiting.
<p>
Please define a new function `tree_predictor_count` that does short-circuiting. It is similar to `tree_predictor`: it takes a row and tree as arguments and finds the path in the tree that matches the row data. It is different than `tree_predictor` because It goes through a path conjunction one by one. If it finds a false item, it does not check any further. I am going to ask you to do one more thing mostly for debugging. Count how much you saved on a short-circuit. For instance, if a path has 5 conjuncts and you fail on the last, you have not saved anything. But if you fail on the first, you have saved 4 checks. Keep a running total of what you have saved. I'll show you what I got so you can have a target.

In [0]:
def tree_predictor_count(row, tree):

Let's test it on first 5 rows and `tree1`.

In [0]:
for i in range(5):
  row = shelter_table.iloc[i]
  short_circuit_total = 0
  p = tree_predictor_count(row, tree1)
  print(("prediction", p))
  print(("total",short_circuit_total))
  print()

('prediction', 0)
('total', 2)

('prediction', 1)
('total', 0)

('prediction', 0)
('total', 2)

('prediction', 0)
('total', 8)

('prediction', 1)
('total', 2)

Let's try same thing for `tree2`.

In [0]:
for i in range(5):
  row = shelter_table.iloc[i]
  short_circuit_total = 0
  p = tree_predictor_count(row, tree2)
  print(("prediction", p))
  print(("total",short_circuit_total))
  print()

('prediction', 0)
('total', 14)

('prediction', 1)
('total', 6)

('prediction', 0)
('total', 14)

('prediction', 0)
('total', 25)

('prediction', 1)
('total', 12)

You do not turn this in. It's for self-study.