<h1>
<center>
Module 4: Tree Building assignment
</center>
</h1>
<div class=h1_cell>

You will be working with the loan table again.

</div>

In [0]:
import pandas as pd

from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
with open('/content/gdrive/My Drive/class_tables/loan_wrangled_week3.csv', 'r') as f:
  loan_table = pd.read_csv(f)

In [0]:
with open('/content/gdrive/My Drive/class_tables/loan_results_week2.csv', 'r') as f:
  loan_results = pd.read_csv(f)

In [0]:
!rm library_w19_week4.py

rm: cannot remove 'library_w19_week4.py': No such file or directory

In [0]:
from google.colab import files
files.upload()

Saving library_w19_week4.py to library_w19_week4.py

{'library_w19_week4.py': b'def predictor_case(row, pred, target):\n\tcase_dict = {(0,0): \'true_negative\', (1,1): \'true_positive\', (0,1): \'false_negative\', (1,0): \'false_positive\'}\n\tactual = row[target]\n\tprediction = row[pred]\n\tcase = case_dict[(prediction, actual)]\n\treturn case\n\ndef accuracy(cases):\n    tp = cases[\'true_positive\']\n    tn = cases[\'true_negative\']\n    fp = cases[\'false_positive\']\n    fn = cases[\'false_negative\']\n    return (tp + tn)/(tp+tn+fp+fn)\n\ndef f1(cases):\n    #the heart of the matrix\n    tp = cases[\'true_positive\']\n    fn = cases[\'false_negative\']\n    tn = cases[\'true_negative\']\n    fp = cases[\'false_positive\']\n    \n    #other measures we can derive\n    recall = 1.0*tp/(tp+fn)  # positive correct divided by total positive in the table\n    precision = 1.0*tp/(tp+fp) # positive correct divided by all positive predictions made\n    \n    #now for the one we want\n    f1 = 2/(1/recall + 1/precision)\n    \n    return f1\n\ndef informedness(cases):\n    tp = cases[\'true_positive\']\n    fn = cases[\'false_negative\']\n    tn = cases[\'true_negative\']\n    fp = cases[\'false_positive\']\n    recall = 1.0*tp/(tp+fn)  # positive correct divided by total positive in the table\n    specificty = 1.0*tn/(tn+fp) # negative correct divided by total negative in the table\n    J = (recall + specificty) - 1\n    return J\n\n#starting week 3\n\ndef probabilities(counts):\n    count_0 = 0 if 0 not in counts else counts[0]  #could have no 0 values\n    count_1 = 0 if 1 not in counts else counts[1]\n    total = count_0 + count_1\n    probs = (0,0) if total == 0 else (count_0/total, count_1/total)  #build 2-tuple\n    return probs\n\ndef gini(counts):\n    (p0,p1) = probabilities(counts)\n    sum_probs = p0**2 + p1**2\n    gini = 1 - sum_probs\n    return gini\n\ndef gig(starting_table, split_column, target_column):\n    \n    #split into two branches, i.e., two sub-tables\n    true_table = starting_table.loc[starting_table[split_column] == 1]\n    false_table = starting_table.loc[starting_table[split_column] == 0]\n    \n    #Now see how the target column is divided up in each sub-table (and the starting table)\n    true_counts = true_table[target_column].value_counts()  # Note using true_table and not starting_table\n    false_counts = false_table[target_column].value_counts()  # Note using false_table and not starting_table\n    starting_counts = starting_table[target_column].value_counts() \n    \n    #compute the gini impurity for the 3 tables\n    starting_gini = gini(starting_counts)\n    true_gini = gini(true_counts)\n    false_gini = gini(false_counts)\n\n    #compute the weights\n    starting_size = len(starting_table.index)\n    true_weight = 0.0 if starting_size == 0 else len(true_table.index)/starting_size\n    false_weight = 0.0 if starting_size == 0 else len(false_table.index)/starting_size\n    \n    #wrap it up and put on a bow\n    gig = starting_gini - (true_weight * true_gini + false_weight * false_gini)\n    \n    return gig\n\n\'\'\'\ndef entropy(counts):\n    (p0, p1) = probabilities(counts)\n    term1 = -p0*math.log(p0,2) if p0 > 0 else 0\n    term2 = -p1*math.log(p1,2) if p1 > 0 else 0\n    entropy = term1 + term2\n    return entropy\n\ndef IGain(starting_table, split_column, target_column):\n    \n    #split into two branches, i.e., two sub-tables\n    true_table = starting_table.loc[starting_table[split_column] == 1]\n    false_table = starting_table.loc[starting_table[split_column] == 0]\n    \n    #Now see how the target column is divided up in each sub-table (and the starting table)\n    true_counts = true_table[target_column].value_counts()\n    false_counts = false_table[target_column].value_counts()  # Note using true_table and not titanic_table\n    starting_counts = starting_table[target_column].value_counts() \n    \n    #compute the entropy for the 3 tables\n    starting_e = entropy(starting_counts)\n    true_e = entropy(true_counts)\n    false_e = entropy(false_counts)\n\n    #compute the weights\n    starting_size = len(starting_table.index)\n    true_weight = 0.0 if starting_size == 0 else 1.0*len(true_table.index)/starting_size\n    false_weight = 0.0 if starting_size == 0 else 1.0*len(false_table.index)/starting_size\n    \n    #wrap it up and put on a bow\n    infogain = starting_e - (true_weight * true_e + false_weight * false_e)\n    \n    return infogain\n\'\'\'\n\n#week 4\n\ndef build_pred(column, branch):\n    return lambda row: row[column] == branch\n\ndef find_best_splitter(table, choice_list, target):\n  \n    assert (len(table)>0),"Cannot split empty table"\n    assert (target in table),"Target must be column in table"\n    \n    gig_scores = map(lambda col: (col, gig(table, col, target)), choice_list)  #compute tuple (col, gig) for each column\n    gig_sorted = sorted(gig_scores, key=lambda item: item[1], reverse=True)  # sort on gig\n    return gig_sorted\n\nfrom functools import reduce\n\ndef generate_table(table, conjunction):\n  \n    assert (len(table)>0),"Cannot generate from empty table"\n\n    sub_table = reduce(lambda subtable, pair: subtable.loc[pair[1]], conjunction, table)\n    return sub_table\n\ndef compute_prediction(table, target):\n  \n    assert (len(table)>0),"Cannot predict from empty table"\n    assert (target in table),"Target must be column in table"\n    \n    counts = table[target].value_counts()  # counts looks like {0: v1, 1: v2}\n\n    if 0 not in counts:\n        prediction = 1\n    elif 1 not in counts:\n        prediction = 0\n    elif counts[1] > counts[0]:  # ties go to 0 (negative)\n        prediction = 1\n    else:\n        prediction = 0\n\n    return prediction\n\ndef build_tree_iter(table, choices, target, hypers={} ):\n\n    assert (len(choices)>0),"Must have at least one column in choices"\n    assert (target in table), "Target column not in table"\n    assert (len(table) > 1), "Table must have more than 1 row"\n    \n    k = hypers[\'max-depth\'] if \'max-depth\' in hypers else min(4, len(choices))\n    gig_cutoff = hypers[\'gig-cutoff\'] if \'gig-cutoff\' in hypers else 0.0\n    \n    def iterative_build(k):\n        columns_sorted = find_best_splitter(table, choices, target)\n        (best_column, gig_value) = columns_sorted[0]\n        \n        #Note I add _1 or _0 to make it more readable for debugging\n        current_paths = [{\'conjunction\': [(best_column+\'_1\', build_pred(best_column, 1))],\n                          \'prediction\': None,\n                          \'gig_score\': gig_value},\n                         {\'conjunction\': [(best_column+\'_0\', build_pred(best_column, 0))],\n                          \'prediction\': None,\n                          \'gig_score\': gig_value}\n                        ]\n        k -= 1  # we just built a level as seed so subtract 1 from k\n        tree_paths = []  # add completed paths here\n        \n        while k>0:\n            new_paths = []\n            for path in current_paths:\n                old_conjunction = path[\'conjunction\']  # a list of (name, lambda)\n                before_table = generate_table(table, old_conjunction)  #the subtable the current conjunct leads to\n                columns_sorted = find_best_splitter(before_table, choices, target)\n                (best_column, gig_value) = columns_sorted[0]\n                if gig_value > gig_cutoff:\n                    new_path_1 = {\'conjunction\': old_conjunction + [(best_column+\'_1\', build_pred(best_column, 1))],\n                                \'prediction\': None,\n                                 \'gig_score\': gig_value}\n                    new_paths.append( new_path_1 ) #true\n                    new_path_0 = {\'conjunction\': old_conjunction + [(best_column+\'_0\', build_pred(best_column, 0))],\n                                \'prediction\': None,\n                                 \'gig_score\': gig_value}\n                    new_paths.append( new_path_0 ) #false\n                else:\n                    #not worth splitting so complete the path with a prediction\n                    path[\'prediction\'] = compute_prediction(before_table, target)\n                    tree_paths.append(path)\n            #end for loop\n            \n            current_paths = new_paths\n            if current_paths != []:\n                k -= 1\n            else:\n                break  # nothing left to extend so have copied all paths to tree_paths\n        #end while loop\n\n        #Generate predictions for all paths that have None\n        for path in current_paths:\n            conjunction = path[\'conjunction\']\n            before_table = generate_table(table, conjunction)\n            path[\'prediction\'] = compute_prediction(before_table, target)\n            tree_paths.append(path)\n        return tree_paths\n\n    return {\'paths\': iterative_build(k), \'weight\': None}\n\ndef tree_predictor(row, tree):\n  \n    assert (len(tree[\'paths\']) > 0), "Tree must have at least one path"\n    \n    #go through each path, one by one (could use a map instead of for loop?)\n    for path in tree[\'paths\']:\n        conjuncts = path[\'conjunction\']\n        result = map(lambda tuple: tuple[1](row), conjuncts)  # potential to be parallelized\n        if all(result):\n            return path[\'prediction\']\n    raise LookupError(\'No true paths found for row: \' + str(row))\n\n'}

In [0]:
from library_w19_week4 import *
%who function

accuracy	 build_pred	 build_tree_iter	 compute_prediction	 f1	 find_best_splitter	 generate_table	 gig	 gini
informedness	 predictor_case	 probabilities	 tree_predictor

In [0]:
pd.set_option('display.max_columns', None)
loan_table.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,no_lam,filled_lam,pa_Rural,pa_Semiurban,pa_Urban,pa_nan,lam_bin,lam_Low,lam_Average,lam_High,ch_bad,ch_good,ch_nan,apin_binned,apin_low,apin_average,apin_high,apin_nan
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,1,1,146.412162,0,0,1,0,Low,1,0,0,0,1,0,low,1,0,0,0
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,0,0,128.000000,1,0,0,0,Low,1,0,0,0,1,0,low,1,0,0,0
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,1,0,66.000000,0,0,1,0,Low,1,0,0,0,1,0,low,1,0,0,0
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,1,0,120.000000,0,0,1,0,Low,1,0,0,0,1,0,low,1,0,0,0
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,1,0,141.000000,0,0,1,0,Low,1,0,0,0,1,0,low,1,0,0,0

In [0]:
loan_table.columns.values

array(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed',
       'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area',
       'Loan_Status', 'no_lam', 'filled_lam', 'pa_Rural', 'pa_Semiurban',
       'pa_Urban', 'pa_nan', 'lam_bin', 'lam_Low', 'lam_Average',
       'lam_High', 'ch_bad', 'ch_good', 'ch_nan', 'apin_binned',
       'apin_low', 'apin_average', 'apin_high', 'apin_nan'], dtype=object)

<hr>
<h1>
1: OHE Dependents
</h1>
If you take a look at the Dependents column below, you will see that it is viewed as a categorical column with 4 unique values. So we should be able to use get_dummies on it.

In [0]:
loan_table.describe(include='all')

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,no_lam,filled_lam,pa_Rural,pa_Semiurban,pa_Urban,pa_nan,lam_bin,lam_Low,lam_Average,lam_High,ch_bad,ch_good,ch_nan,apin_binned,apin_low,apin_average,apin_high,apin_nan
count,601,611,599,614,582,614.000000,614.000000,592.000000,600.00000,564.000000,614,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614.0,614,614.000000,614.000000,614.000000,614.000000,614.000000,614.000000,614,614.000000,614.000000,614.000000,614.0
unique,2,2,4,2,2,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN
top,Male,Yes,0,Graduate,No,NaN,NaN,NaN,NaN,NaN,Semiurban,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Low,NaN,NaN,NaN,NaN,NaN,NaN,low,NaN,NaN,NaN,NaN
freq,489,398,345,480,500,NaN,NaN,NaN,NaN,NaN,233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,556,NaN,NaN,NaN,NaN,NaN,NaN,607,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,5403.459283,1621.245798,146.412162,342.00000,0.842199,NaN,0.687296,0.035831,146.412162,0.291531,0.379479,0.328990,0.0,NaN,0.905537,0.074919,0.019544,0.144951,0.773616,0.081433,NaN,0.988599,0.008143,0.003257,0.0
std,NaN,NaN,NaN,NaN,NaN,6109.041673,2926.248369,85.587325,65.12041,0.364878,NaN,0.463973,0.186019,84.037468,0.454838,0.485653,0.470229,0.0,NaN,0.292710,0.263475,0.138540,0.352339,0.418832,0.273722,NaN,0.106250,0.089945,0.057026,0.0
min,NaN,NaN,NaN,NaN,NaN,150.000000,0.000000,9.000000,12.00000,0.000000,NaN,0.000000,0.000000,9.000000,0.000000,0.000000,0.000000,0.0,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.0
25%,NaN,NaN,NaN,NaN,NaN,2877.500000,0.000000,100.000000,360.00000,1.000000,NaN,0.000000,0.000000,100.250000,0.000000,0.000000,0.000000,0.0,NaN,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,NaN,1.000000,0.000000,0.000000,0.0
50%,NaN,NaN,NaN,NaN,NaN,3812.500000,1188.500000,128.000000,360.00000,1.000000,NaN,1.000000,0.000000,129.000000,0.000000,0.000000,0.000000,0.0,NaN,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,NaN,1.000000,0.000000,0.000000,0.0
75%,NaN,NaN,NaN,NaN,NaN,5795.000000,2297.250000,168.000000,360.00000,1.000000,NaN,1.000000,0.000000,164.750000,1.000000,1.000000,1.000000,0.0,NaN,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,NaN,1.000000,0.000000,0.000000,0.0
max,NaN,NaN,NaN,NaN,NaN,81000.000000,41667.000000,700.000000,480.00000,1.000000,NaN,1.000000,1.000000,700.000000,1.000000,1.000000,1.000000,0.0,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,1.000000,1.000000,1.000000,0.0

Go ahead and ohe the `Dependents` column - use `dep` as prefix. And look at above to see the count. It has empties, right? So set the appropriate flag.

In [0]:
#ohe code here

In [0]:
loan_table.head(1)

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,no_lam,filled_lam,pa_Rural,pa_Semiurban,pa_Urban,pa_nan,lam_bin,lam_Low,lam_Average,lam_High,ch_bad,ch_good,ch_nan,apin_binned,apin_low,apin_average,apin_high,apin_nan,dep_0,dep_1,dep_2,dep_3+,dep_nan
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,1,1,146.412162,0,0,1,0,Low,1,0,0,0,1,0,low,1,0,0,0,1,0,0,0,0

<hr>
<h1>
2: Find the best depth
</h1>
<p>
<div class=h1_cell>
<p>
Explore depths from 1 to 5. Build a tree for each depth and test it. Plot the results.
<p>
First, define the columns to use. I do that for you below.
</div>

In [0]:
column_candidates = [
        #Dependents
        'dep_0', 'dep_1', 'dep_2', 'dep_3+',
        #ApplicantIncome
       'apin_low', 'apin_high', 'apin_average',
        #Property_Area
        'pa_Rural', 'pa_Semiurban','pa_Urban',
        #LoanAmount
        'lam_Low', 'lam_Average', 'lam_High',
        #Credit_History
        'ch_bad', 'ch_good']

In [0]:
tree1 = build_tree_iter(loan_table, column_candidates, 'Loan_Status', {'max-depth': 1}) # should get 2 paths
print(len(tree1['paths']))
tree1['paths']

2

[{'conjunction': [('ch_bad_1',
    <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.12559965113188631,
  'prediction': 0},
 {'conjunction': [('ch_bad_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.12559965113188631,
  'prediction': 1}]

<div class=h1_cell>
<p>
As reminder, a tree with only one splitter node is called a stump. You can see that `ch_bad` is the best splitter with only one node. Thought question: As we build deeper trees below, is it possible for the root node to be something other than `ch_bad`?
</div>

In [0]:
tree2 = build_tree_iter(loan_table, column_candidates, 'Loan_Status', {'max-depth': 2}) # should get 4 paths
print(len(tree2['paths']))
tree2['paths']

4

[{'conjunction': [('ch_bad_1',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('apin_average_1',
    <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.019292789018833467,
  'prediction': 1},
 {'conjunction': [('ch_bad_1',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('apin_average_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.019292789018833467,
  'prediction': 0},
 {'conjunction': [('ch_bad_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('pa_Semiurban_1',
    <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.006462619030620731,
  'prediction': 1},
 {'conjunction': [('ch_bad_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('pa_Semiurban_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.006462619030620731,
  'prediction': 1}]

In [0]:
tree3 = build_tree_iter(loan_table, column_candidates, 'Loan_Status', {'max-depth': 3}) # should get 7 paths
print(len(tree3['paths']))
tree3['paths']

7

[{'conjunction': [('ch_bad_1',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('apin_average_1',
    <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.019292789018833467,
  'prediction': 1},
 {'conjunction': [('ch_bad_1',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('apin_average_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('pa_Urban_1', <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.0014037192421204325,
  'prediction': 0},
 {'conjunction': [('ch_bad_1',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('apin_average_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('pa_Urban_0', <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.0014037192421204325,
  'prediction': 0},
 {'conjunction': [('ch_bad_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('pa_Semiurban_1',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('lam_Average_1',
    <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.0052148575352743975,
  'prediction': 1},
 {'conjunction': [('ch_bad_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('pa_Semiurban_1',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('lam_Average_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.0052148575352743975,
  'prediction': 1},
 {'conjunction': [('ch_bad_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('pa_Semiurban_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('dep_2_1', <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.0021858669417437193,
  'prediction': 1},
 {'conjunction': [('ch_bad_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('pa_Semiurban_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('dep_2_0', <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.0021858669417437193,
  'prediction': 1}]

In [0]:
tree4 = build_tree_iter(loan_table, column_candidates, 'Loan_Status', {'max-depth': 4}) # should get 13 paths
print(len(tree4['paths']))
#tree4['paths']

13

In [0]:
tree5 = build_tree_iter(loan_table, column_candidates, 'Loan_Status', {'max-depth': 5}) # should get 20 paths
print(len(tree5['paths']))
#tree5['paths']

20

<div class=h1_cell>
  <h1>You have your 5 trees</h1>
<p>
Add them to your results table.
</div>

In [0]:

loan_results.head(1)

,Loan_Status,pred_1,pred_1_type,pred_2,pred_2_type,tree_1,tree_1_type
0,1,1,true_positive,1,true_positive,1,true_positive

In [0]:

loan_results.head(1)

,Loan_Status,pred_1,pred_1_type,pred_2,pred_2_type,tree_1,tree_1_type,tree_2,tree_2_type
0,1,1,true_positive,1,true_positive,1,true_positive,1,true_positive

In [0]:

loan_results.head(1)

,Loan_Status,pred_1,pred_1_type,pred_2,pred_2_type,tree_1,tree_1_type,tree_2,tree_2_type,tree_3,tree_3_type
0,1,1,true_positive,1,true_positive,1,true_positive,1,true_positive,1,true_positive

In [0]:

loan_results.head(1)

,Loan_Status,pred_1,pred_1_type,pred_2,pred_2_type,tree_1,tree_1_type,tree_2,tree_2_type,tree_3,tree_3_type,tree_4,tree_4_type
0,1,1,true_positive,1,true_positive,1,true_positive,1,true_positive,1,true_positive,1,true_positive

In [0]:

loan_results.head(1)

,Loan_Status,pred_1,pred_1_type,pred_2,pred_2_type,tree_1,tree_1_type,tree_2,tree_2_type,tree_3,tree_3_type,tree_4,tree_4_type,tree_5,tree_5_type
0,1,1,true_positive,1,true_positive,1,true_positive,1,true_positive,1,true_positive,1,true_positive,1,true_positive

Get the value counts on each tree.

In [0]:
tree_1_types = loan_results['tree_1_type'].value_counts()
tree_2_types = loan_results['tree_2_type'].value_counts()
tree_3_types = loan_results['tree_3_type'].value_counts()
tree_4_types = loan_results['tree_4_type'].value_counts()
tree_5_types = loan_results['tree_5_type'].value_counts()

ok, ready to check out our measures.

In [0]:
print((accuracy(tree_1_types), f1(tree_1_types), informedness(tree_1_types)))

(0.8094462540716613, 0.8764519535374868, 0.4104956556082149)

In [0]:
print((accuracy(tree_2_types), f1(tree_2_types), informedness(tree_2_types)))

(0.8110749185667753, 0.8776371308016878, 0.41286532385466024)

In [0]:
print((accuracy(tree_3_types), f1(tree_3_types), informedness(tree_3_types)))

(0.8110749185667753, 0.8776371308016878, 0.41286532385466024)

In [0]:
print((accuracy(tree_4_types), f1(tree_4_types), informedness(tree_4_types)))

(0.8127035830618893, 0.8785638859556495, 0.4180736571879937)

In [0]:
print((accuracy(tree_5_types), f1(tree_5_types), informedness(tree_5_types)))

(0.8192182410423453, 0.8802588996763754, 0.46161631121642976)

<div class=h1_cell>
<p>
Should we stop at 5? It looks like our measures are continuing to go up. I'll let you stop here but in practice it would be good to find where depth is optimal.
  <p>
Let's try at least one change to the gig cutoff. Use `0.01` and level 5.
</div>

In [0]:

print(len(tree6['paths']))
#tree6['paths']

3

Wow. We went from 20 paths to 3 by using gig-cutoff. See how tree6 does.

In [0]:

loan_results.head(1)

,Loan_Status,pred_1,pred_1_type,pred_2,pred_2_type,tree_1,tree_1_type,tree_2,tree_2_type,tree_3,tree_3_type,tree_4,tree_4_type,tree_5,tree_5_type,tree_6,tree_6_type
0,1,1,true_positive,1,true_positive,1,true_positive,1,true_positive,1,true_positive,1,true_positive,1,true_positive,1,true_positive

In [0]:
tree_6_types = loan_results['tree_6_type'].value_counts()
print((accuracy(tree_6_types), f1(tree_6_types), informedness(tree_6_types)))

(0.8110749185667753, 0.8776371308016878, 0.41286532385466024)

Same as tree3 but with 4 fewer paths: 3 instead of 7.

<hr>
<h1>
3: Order the paths in a tree according to most used
</h1>
<p>
<div class=h1_cell>
<p>
One of the cool things about building our own code for doing predictions with decision trees is that we can explore various options directly. Let's do that now. Look at this code in `tree_predictor`:
<p>
```
for path in tree['paths']:
```
<p>
It is doing a sequential and ordered enumeration of the paths in a tree. We can gain some efficiency by ordering the paths, right? If we can determine which paths are most likely to succeed, we can try those paths first. In practice, this means reordeing the list of dictionaries in tree['paths'] so most used path is first, and least used path is last. I'd like you to write some code that will reorder `tree['paths']` on this basis of most used.
<p>
I'll break it up into pieces. First, define a function `path_id` that accepts a row and a tree and returns the index of the path that succeeded. So if the first path in tree['paths'] succeeded, you would return its index 0.
</div>

In [0]:
def path_id(row, tree):
  
    assert (len(tree['paths']) > 0), "Tree must have at least one path"

<div class=h1_cell>

Now apply the function against the loan table using tree1 and produce a series called `pcounts1`. Remember that tree1 has only 2 paths.
</div>

In [0]:
pcounts1 = loan_table.apply(lambda row: path_id(row, tree1), axis=1)

pcounts1.value_counts()

1    525
0     89
dtype: int64

<div class=h1_cell>
Looks like path 1 (i.e., `tree1['paths'][1]`) is the big winner.
  <p>
    Let's see what tree2 looks like. It has 4 paths.
</div>

In [0]:
pcounts2 = loan_table.apply(lambda row: path_id(row, tree2), axis=1)

pcounts2.value_counts()

3    322
2    203
1     88
0      1
dtype: int64

<div class=h1_cell>
  Looks like path 0 should definitely be tried last. In fact, it looks like the list is in exactly reverse order in terms of path usage.
  <p>
Let's look at tree3.
</div>

In [0]:
pcounts3 = loan_table.apply(lambda row: path_id(row, tree3), axis=1)

pcounts3.value_counts()

6    267
4    187
2     57
5     55
1     31
3     16
0      1
dtype: int64

<div class=h1_cell>

Let's use `tree3` (i.e., `pcounts3`) as our focus. Turn `pcounts3.value_counts()` into a dictionary.
</div>

In [0]:

pdict3

{0: 1, 1: 31, 2: 57, 3: 16, 4: 187, 5: 55, 6: 267}

<div class=h1_cell>

Now turn the dictionary into a list of tuples. Be careful. Generators can bite you.
</div>

In [0]:

plist3

[(6, 267), (4, 187), (2, 57), (5, 55), (1, 31), (3, 16), (0, 1)]

<div class=h1_cell>
This is kind of odd. It appears that converting to a list of tuples has also sorted the list by value in reverse order. I cannot find any documentation that says this should happen. So I am not taking chances. I am going to go ahead and sort `plist3` in a separate function. You shoud too unless you can point me to documentation that says pulling tuples from a dictionary does sorting.
</div>

In [0]:

plist3

[(6, 267), (4, 187), (2, 57), (5, 55), (1, 31), (3, 16), (0, 1)]

<div class=h1_cell>
Finally, build a new path list using plist3 as a guide.
</div>

In [0]:


new_paths

[{'conjunction': [('ch_bad_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('pa_Semiurban_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('dep_2_0', <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.0021858669417437193,
  'prediction': 1},
 {'conjunction': [('ch_bad_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('pa_Semiurban_1',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('lam_Average_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.0052148575352743975,
  'prediction': 1},
 {'conjunction': [('ch_bad_1',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('apin_average_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('pa_Urban_0', <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.0014037192421204325,
  'prediction': 0},
 {'conjunction': [('ch_bad_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('pa_Semiurban_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('dep_2_1', <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.0021858669417437193,
  'prediction': 1},
 {'conjunction': [('ch_bad_1',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('apin_average_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('pa_Urban_1', <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.0014037192421204325,
  'prediction': 0},
 {'conjunction': [('ch_bad_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('pa_Semiurban_1',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('lam_Average_1',
    <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.0052148575352743975,
  'prediction': 1},
 {'conjunction': [('ch_bad_1',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('apin_average_1',
    <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.019292789018833467,
  'prediction': 1}]

I can now reset `tree3["paths"]` to `new_paths`. Cool.

<hr>
<h2>
Put it all together in a function
</h2>
<p>
<div class=h1_cell>
<p>
Please write `reorder_paths` to produce a list of paths that is sorted on most frequently used. You can use the output of the function as:
<p>
<pre>
    ordered_paths3 = reorder_paths(loan_table, tree3)
    tree3['paths'] = ordered_paths3
</pre>
<p>
I'll give you some examples below that you can test on - match my output. Note that I am printing some debugging info from inside my function. I am printing the sorted list I come up with. You do not have to print this but it is useful for debugging.
</div>

In [0]:
def reorder_paths(table, tree):

In [0]:
tree1['paths']  #before we reorder

[{'conjunction': [('ch_bad_1',
    <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.12559965113188631,
  'prediction': 0},
 {'conjunction': [('ch_bad_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.12559965113188631,
  'prediction': 1}]

In [0]:
reorder_paths(loan_table, tree1)  # First line printed is just for debugging

[(1, 525), (0, 89)]

[{'conjunction': [('ch_bad_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.12559965113188631,
  'prediction': 1},
 {'conjunction': [('ch_bad_1',
    <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.12559965113188631,
  'prediction': 0}]

In [0]:
tree2['paths']  #before we reorder

[{'conjunction': [('ch_bad_1',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('apin_average_1',
    <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.019292789018833467,
  'prediction': 1},
 {'conjunction': [('ch_bad_1',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('apin_average_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.019292789018833467,
  'prediction': 0},
 {'conjunction': [('ch_bad_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('pa_Semiurban_1',
    <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.006462619030620731,
  'prediction': 1},
 {'conjunction': [('ch_bad_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('pa_Semiurban_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.006462619030620731,
  'prediction': 1}]

In [0]:
reorder_paths(loan_table, tree2)

[(3, 322), (2, 203), (1, 88), (0, 1)]

[{'conjunction': [('ch_bad_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('pa_Semiurban_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.006462619030620731,
  'prediction': 1},
 {'conjunction': [('ch_bad_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('pa_Semiurban_1',
    <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.006462619030620731,
  'prediction': 1},
 {'conjunction': [('ch_bad_1',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('apin_average_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.019292789018833467,
  'prediction': 0},
 {'conjunction': [('ch_bad_1',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('apin_average_1',
    <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.019292789018833467,
  'prediction': 1}]

In [0]:
reorder_paths(loan_table, tree3)

[(6, 267), (4, 187), (2, 57), (5, 55), (1, 31), (3, 16), (0, 1)]

[{'conjunction': [('ch_bad_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('pa_Semiurban_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('dep_2_0', <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.0021858669417437193,
  'prediction': 1},
 {'conjunction': [('ch_bad_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('pa_Semiurban_1',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('lam_Average_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.0052148575352743975,
  'prediction': 1},
 {'conjunction': [('ch_bad_1',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('apin_average_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('pa_Urban_0', <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.0014037192421204325,
  'prediction': 0},
 {'conjunction': [('ch_bad_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('pa_Semiurban_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('dep_2_1', <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.0021858669417437193,
  'prediction': 1},
 {'conjunction': [('ch_bad_1',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('apin_average_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('pa_Urban_1', <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.0014037192421204325,
  'prediction': 0},
 {'conjunction': [('ch_bad_0',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('pa_Semiurban_1',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('lam_Average_1',
    <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.0052148575352743975,
  'prediction': 1},
 {'conjunction': [('ch_bad_1',
    <function library_w19_week4.build_pred.<locals>.<lambda>>),
   ('apin_average_1',
    <function library_w19_week4.build_pred.<locals>.<lambda>>)],
  'gig_score': 0.019292789018833467,
  'prediction': 1}]

<hr>
<h1>Write it out</h1>
<div class=h1_cell>

We changed both loan_table and loan results. Write them out.
</div>

In [0]:
with open('/content/gdrive/My Drive/class_tables/loan_table_week4.csv', 'w') as f:
  loan_table.to_csv(f, encoding='utf-8', index=False)
  
with open('/content/gdrive/My Drive/class_tables/loan_results_week4.csv', 'w') as f:
  loan_results.to_csv(f, encoding='utf-8', index=False)

<hr>
<h1>Don't forget library functions</h1>
<div class=h1_cell>

Add them to `library_w19_week4b.py`. You defined `library_w19_week4.py` in intro module. You are now defining a new version of it with functions from this notebook. I added the `b` to keep them clear.
</div>