<h1>
<center>
Module 5: Bias-Variance and Cross-Validation
</center>
</h1>
<div class=h1_cell>

You will be working with the loan table again.

</div>

In [1]:
import pandas as pd

from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [2]:
with open('/content/gdrive/My Drive/class_tables/loan_wrangled_week3.csv', 'r') as f:
  loan_table = pd.read_csv(f)

loan_table.head(2)  #make sure it looks ok - we see the results of our week 2 wrangling

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,...,lam_Average,lam_High,ch_bad,ch_good,ch_nan,apin_binned,apin_low,apin_average,apin_high,apin_nan
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,...,0,0,0,1,0,low,1,0,0,0
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,...,0,0,0,1,0,low,1,0,0,0

In [0]:
pd.set_option('display.max_columns', None)

<h2>A couple of notes</h2>
I added points to assignments to give you an idea of how much of a challenge I think they are. Let me know if I am off base.
<p>
  Don't load your library yet. Finish problem 1 before importing your library.

<hr>
<h1>
1: Fix our scoring functions (30 points)
</h1>
<p>
<div class=h1_cell>
<p>
As we defined our scoring functions in week 2, they all assume that the 4 cases have values greater than 0. But this week we will see that is not always the case. And hence you will get an error like this if you try using the scoring functions as is:
  <pre>
  KeyError: 'false_negative'
  </pre>
<p>
What this means is that there were no false negatives found so the key is also not found. You would find the problem in a statement like this:
  <pre>
  fn = cases['false_negative']  #key does not exist because no false negatives
  </pre>
  Your task is to fix up the 3 scoring functions so they handle cases like this. And while you are at it, make sure you never divide by 0. Once you have them working, you can add them to your library for this week. I give you some test cases to code against.
  <p>
 Important: do not import your library before (a) you have all functions below working correctly, and (b) you have replaced the old functions in your library with the new ones.
</div>

In [0]:
def accuracy(cases):

In [0]:
#test

print(('should be 0', accuracy(pd.Series({}))))
print(('should be 0.3', accuracy(pd.Series({'true_positive':1, 'true_negative':2, 'false_positive':3, 'false_negative':4}))))
print(('should be 0.2', accuracy(pd.Series({'true_negative':2, 'false_positive':3, 'false_negative':4}))))

('should be 0', 0)
('should be 0.3', 0.3)
('should be 0.2', 0.2222222222222222)

In [0]:
def f1(cases):

In [0]:
#test

print(('should be 0', f1(pd.Series({}))))
print(('should be 0.2', f1(pd.Series({'true_positive':1, 'true_negative':2, 'false_positive':3, 'false_negative':4}))))
print(('should be 0', f1(pd.Series({'true_negative':2, 'false_positive':3, 'false_negative':4}))))

('should be 0', 0)
('should be 0.2', 0.2222222222222222)
('should be 0', 0)

In [0]:
def informedness(cases):

In [0]:
#test

print(('should be -1', informedness(pd.Series({}))))
print(('should be -0.39', informedness(pd.Series({'true_positive':1, 'true_negative':2, 'false_positive':3, 'false_negative':4}))))
print(('should be -0.6', informedness(pd.Series({'true_negative':2, 'false_positive':3, 'false_negative':4}))))

('should be -1', -1)
('should be -0.39', -0.3999999999999999)
('should be -0.6', -0.6)

<h1>Ok, now update your library</h1>
When you have done that, you are ready to import.
<p>
  <b>Important note</b>: you may be tempted to skip the step of updating your library before importing. Why do that when you already have the new functions defined above? We are back to that static-scope thing. Your notebook context (namespace) can see your library functions but your library functions cannot see your notebook functions. The library has its own namespace. In summary, `produce_scores` will not see your functions above. Instead it will see the functions in your library. And if you don't update your library, you will be using your old, broken versions. And it does not matter if you import first then define new functions in the notebook. Your notebook functions still will not override your library functions. Whew. So go update your library!

In [0]:
!rm library_w19_week5.py

In [0]:
from google.colab import files
files.upload()

Saving library_w19_week5.py to library_w19_week5.py

{'library_w19_week5.py': b'import pandas as pd\nimport numpy as np\nfrom functools import reduce\n\ndef predictor_case(row, pred, target):\n\tcase_dict = {(0,0): \'true_negative\', (1,1): \'true_positive\', (0,1): \'false_negative\', (1,0): \'false_positive\'}\n\tactual = row[target]\n\tprediction = row[pred]\n\tcase = case_dict[(prediction, actual)]\n\treturn case\n\ndef accuracy(cases):\n    tp = cases[\'true_positive\'] if \'true_positive\' in cases else 0\n    tn = cases[\'true_negative\'] if \'true_negative\' in cases else 0\n    fp = cases[\'false_positive\'] if \'false_positive\' in cases else 0\n    fn = cases[\'false_negative\'] if \'false_negative\' in cases else 0\n\n    result = (tp + tn)/(tp+tn+fp+fn) if (tp+tn+fp+fn) != 0 else 0\n    return result\n\ndef f1(cases):\n    #the heart of the matrix\n    tp = cases[\'true_positive\'] if \'true_positive\' in cases else 0\n    tn = cases[\'true_negative\'] if \'true_negative\' in cases else 0\n    fp = cases[\'false_positive\'] if \'false_positive\' in cases else 0\n    fn = cases[\'false_negative\'] if \'false_negative\' in cases else 0\n    \n    #other measures we can derive\n    recall = tp/(tp+fn)  if (tp+fn) != 0 else 0 # positive correct divided by total positive in the table\n    precision = tp/(tp+fp) if (tp+fp) != 0 else 0 # positive correct divided by all positive predictions made\n    \n    #now for the one we want\n    recall_div = 1/recall if recall != 0 else 0\n    precision_div = 1/precision if precision != 0 else 0\n    f1 = 2/(recall_div + precision_div) if (recall_div + precision_div) != 0 else 0\n    \n    return f1\n\ndef informedness(cases):\n    tp = cases[\'true_positive\'] if \'true_positive\' in cases else 0\n    tn = cases[\'true_negative\'] if \'true_negative\' in cases else 0\n    fp = cases[\'false_positive\'] if \'false_positive\' in cases else 0\n    fn = cases[\'false_negative\'] if \'false_negative\' in cases else 0\n\n    recall = tp/(tp+fn)  if (tp+fn) != 0 else 0 # positive correct divided by total positive in the table\n    specificty = tn/(tn+fp) if (tn+fp) != 0 else 0# negative correct divided by total negative in the table\n    J = (recall + specificty) - 1\n    return J\n\n#starting week 3\n\ndef probabilities(counts):\n    count_0 = 0 if 0 not in counts else counts[0]  #could have no 0 values\n    count_1 = 0 if 1 not in counts else counts[1]\n    total = count_0 + count_1\n    probs = (0,0) if total == 0 else (count_0/total, count_1/total)  #build 2-tuple\n    return probs\n\ndef gini(counts):\n    (p0,p1) = probabilities(counts)\n    sum_probs = p0**2 + p1**2\n    gini = 1 - sum_probs\n    return gini\n\ndef gig(starting_table, split_column, target_column):\n    \n    #split into two branches, i.e., two sub-tables\n    true_table = starting_table.loc[starting_table[split_column] == 1]\n    false_table = starting_table.loc[starting_table[split_column] == 0]\n    \n    #Now see how the target column is divided up in each sub-table (and the starting table)\n    true_counts = true_table[target_column].value_counts()  # Note using true_table and not starting_table\n    false_counts = false_table[target_column].value_counts()  # Note using false_table and not starting_table\n    starting_counts = starting_table[target_column].value_counts() \n    \n    #compute the gini impurity for the 3 tables\n    starting_gini = gini(starting_counts)\n    true_gini = gini(true_counts)\n    false_gini = gini(false_counts)\n\n    #compute the weights\n    starting_size = len(starting_table.index)\n    true_weight = 0.0 if starting_size == 0 else len(true_table.index)/starting_size\n    false_weight = 0.0 if starting_size == 0 else len(false_table.index)/starting_size\n    \n    #wrap it up and put on a bow\n    gig = starting_gini - (true_weight * true_gini + false_weight * false_gini)\n    \n    return gig\n\n\'\'\'\ndef entropy(counts):\n    (p0, p1) = probabilities(counts)\n    term1 = -p0*math.log(p0,2) if p0 > 0 else 0\n    term2 = -p1*math.log(p1,2) if p1 > 0 else 0\n    entropy = term1 + term2\n    return entropy\n\ndef IGain(starting_table, split_column, target_column):\n    \n    #split into two branches, i.e., two sub-tables\n    true_table = starting_table.loc[starting_table[split_column] == 1]\n    false_table = starting_table.loc[starting_table[split_column] == 0]\n    \n    #Now see how the target column is divided up in each sub-table (and the starting table)\n    true_counts = true_table[target_column].value_counts()\n    false_counts = false_table[target_column].value_counts()  # Note using true_table and not titanic_table\n    starting_counts = starting_table[target_column].value_counts() \n    \n    #compute the entropy for the 3 tables\n    starting_e = entropy(starting_counts)\n    true_e = entropy(true_counts)\n    false_e = entropy(false_counts)\n\n    #compute the weights\n    starting_size = len(starting_table.index)\n    true_weight = 0.0 if starting_size == 0 else 1.0*len(true_table.index)/starting_size\n    false_weight = 0.0 if starting_size == 0 else 1.0*len(false_table.index)/starting_size\n    \n    #wrap it up and put on a bow\n    infogain = starting_e - (true_weight * true_e + false_weight * false_e)\n    \n    return infogain\n\'\'\'\n\n#week 4\n\ndef build_pred(column, branch):\n    return lambda row: row[column] == branch\n\ndef find_best_splitter(table, choice_list, target):\n  \n    assert (len(table)>0),"Cannot split empty table"\n    assert (target in table),"Target must be column in table"\n    \n    gig_scores = map(lambda col: (col, gig(table, col, target)), choice_list)  #compute tuple (col, gig) for each column\n    gig_sorted = sorted(gig_scores, key=lambda item: item[1], reverse=True)  # sort on gig\n    return gig_sorted\n\nfrom functools import reduce\n\ndef generate_table(table, conjunction):\n  \n    assert (len(table)>0),"Cannot generate from empty table"\n\n    sub_table = reduce(lambda subtable, pair: subtable.loc[pair[1]], conjunction, table)\n    return sub_table\n\ndef compute_prediction(table, target):\n  \n    assert (len(table)>0),"Cannot predict from empty table"\n    assert (target in table),"Target must be column in table"\n    \n    counts = table[target].value_counts()  # counts looks like {0: v1, 1: v2}\n\n    if 0 not in counts:\n        prediction = 1\n    elif 1 not in counts:\n        prediction = 0\n    elif counts[1] > counts[0]:  # ties go to 0 (negative)\n        prediction = 1\n    else:\n        prediction = 0\n\n    return prediction\n\ndef build_tree_iter(table, choices, target, hypers={} ):\n\n    assert (len(choices)>0),"Must have at least one column in choices"\n    assert (target in table), "Target column not in table"\n    assert (len(table) > 1), "Table must have more than 1 row"\n\n    hyper_keys = [*hypers]\n    target_set = set([\'max-depth\',\'gig-cutoff\'])\n    diff_set = set(hyper_keys) - target_set\n    if diff_set: print(\'WARNING: unrecognized hyper parameters \' + str(diff_set))\n    \n    k = hypers[\'max-depth\'] if \'max-depth\' in hypers else min(4, len(choices))\n    gig_cutoff = hypers[\'gig-cutoff\'] if \'gig-cutoff\' in hypers else 0.0\n    \n    def iterative_build(k):\n        columns_sorted = find_best_splitter(table, choices, target)\n        (best_column, gig_value) = columns_sorted[0]\n        \n        #Note I add _1 or _0 to make it more readable for debugging\n        current_paths = [{\'conjunction\': [(best_column+\'_1\', build_pred(best_column, 1))],\n                          \'prediction\': None,\n                          \'gig_score\': gig_value},\n                         {\'conjunction\': [(best_column+\'_0\', build_pred(best_column, 0))],\n                          \'prediction\': None,\n                          \'gig_score\': gig_value}\n                        ]\n        k -= 1  # we just built a level as seed so subtract 1 from k\n        tree_paths = []  # add completed paths here\n        \n        while k>0:\n            new_paths = []\n            for path in current_paths:\n                old_conjunction = path[\'conjunction\']  # a list of (name, lambda)\n                before_table = generate_table(table, old_conjunction)  #the subtable the current conjunct leads to\n                columns_sorted = find_best_splitter(before_table, choices, target)\n                (best_column, gig_value) = columns_sorted[0]\n                if gig_value > gig_cutoff:\n                    new_path_1 = {\'conjunction\': old_conjunction + [(best_column+\'_1\', build_pred(best_column, 1))],\n                                \'prediction\': None,\n                                 \'gig_score\': gig_value}\n                    new_paths.append( new_path_1 ) #true\n                    new_path_0 = {\'conjunction\': old_conjunction + [(best_column+\'_0\', build_pred(best_column, 0))],\n                                \'prediction\': None,\n                                 \'gig_score\': gig_value}\n                    new_paths.append( new_path_0 ) #false\n                else:\n                    #not worth splitting so complete the path with a prediction\n                    path[\'prediction\'] = compute_prediction(before_table, target)\n                    tree_paths.append(path)\n            #end for loop\n            \n            current_paths = new_paths\n            if current_paths != []:\n                k -= 1\n            else:\n                break  # nothing left to extend so have copied all paths to tree_paths\n        #end while loop\n\n        #Generate predictions for all paths that have None\n        for path in current_paths:\n            conjunction = path[\'conjunction\']\n            before_table = generate_table(table, conjunction)\n            path[\'prediction\'] = compute_prediction(before_table, target)\n            tree_paths.append(path)\n        return tree_paths\n\n    return {\'paths\': iterative_build(k), \'weight\': None}\n\ndef tree_predictor(row, tree):\n  \n    assert (len(tree[\'paths\']) > 0), "Tree must have at least one path"\n    \n    #go through each path, one by one (could use a map instead of for loop?)\n    for path in tree[\'paths\']:\n        conjuncts = path[\'conjunction\']\n        result = map(lambda tuple: tuple[1](row), conjuncts)  # potential to be parallelized\n        if all(result):\n            return path[\'prediction\']\n    raise LookupError(\'No true paths found for row: \' + str(row))\n\n#============== Week 4 version b\n\ndef path_id(row, tree):\n  \n    assert (len(tree[\'paths\']) > 0), "Tree must have at least one path"\n    \n    #go through each path, one by one (could use a map instead of for loop?)\n    for i, path in enumerate( tree[\'paths\']):\n        conjuncts = path[\'conjunction\']\n        result = map(lambda tup: tup[1](row), conjuncts)  # potential to be parallelized\n        if all(result):\n            return i\n    raise LookupError(\'No true paths found for row: \' + str(row))\n\ndef reorder_paths(table, tree):\n  \n    new_paths = []\n    paths = tree[\'paths\']\n\n    tempcounts = table.apply(lambda row: path_id(row, tree), axis=1)\n    valcounts= tempcounts.value_counts()\n    dictcounts = dict(valcounts)\n    listcounts = list(dictcounts.items())\n    sortedcounts = sorted(listcounts, key=lambda x: x[1], reverse=True)\n    print(sortedcounts)\n    \n    for tup in sortedcounts:\n        new_paths.append(paths[tup[0]])\n        \n    return new_paths\n\n#============== Week 5\n\ndef produce_scores(table, tree, target):\n    scratch_table = pd.DataFrame(columns=[\'prediction\', \'actual\'])\n    scratch_table[\'prediction\'] = table.apply(lambda row: tree_predictor(row, tree), axis=1)\n    scratch_table[\'actual\'] = table[target]  # just copy the target column\n    cases = scratch_table.apply(lambda row: predictor_case(row, pred=\'prediction\', target=\'actual\'), axis=1)\n    vc = cases.value_counts()\n    return [accuracy(vc), f1(vc), informedness(vc)]\n\ndef compute_training(slices, left_out):\n    training_slices = []\n    for i,slice in enumerate(slices):\n        if i == left_out:\n            continue\n        training_slices.append(slices[i])\n    return pd.concat(training_slices)  # note we are returning a table (DataFrame)\n\ndef k_fold(table, k, target, hypers, candidate_columns):\n\n    result_columns = [\'name\',  \'accuracy\', \'f1\', \'informedness\']\n    k_fold_results_table = pd.DataFrame(columns=result_columns)\n    \n    total_len = len(table.index)\n    slice_size = int(total_len/(1.0*k))\n\n    #generate the slices\n    slices = []\n    for i in range(k-1):\n        a_slice =  table[i*slice_size:(i+1)*slice_size]\n        slices.append( a_slice )\n    slices.append( table[(k-1)*slice_size:] )  # whatever is left\n    \n    #do cross validation\n    all_scores = []\n    for i in range(k):\n        test_table = slices[i]\n        train_table = compute_training(slices, i)\n        fold_tree = build_tree_iter(train_table, candidate_columns, target, hypers)  # train\n        scores = produce_scores(test_table, fold_tree, target)  # test\n        result_row = {\'name\':\'fold_\'+str(i), \'accuracy\':scores[0], \'f1\':scores[1], \'informedness\':scores[2]}\n        k_fold_results_table = k_fold_results_table.append(result_row,ignore_index=True)\n        all_scores.append(scores)\n        \n    #compute the average\n    average = list(reduce(np.add, all_scores[1:], all_scores[0])/k)\n    result_row = {\'name\':\'average\', \'accuracy\':average[0], \'f1\':average[1], \'informedness\':average[2]}\n    k_fold_results_table = k_fold_results_table.append(result_row,ignore_index=True)\n    \n    return k_fold_results_table\n\ndef foo ():\n    fum(10)\n\n'}

In [0]:
from library_w19_week5 import *

%who function

accuracy	 build_pred	 build_tree_iter	 compute_prediction	 compute_training	 f1	 find_best_splitter	 foo	 generate_table
gig	 gini	 informedness	 k_fold	 path_id	 predictor_case	 probabilities	 produce_scores	 reorder_paths
tree_predictor

<hr>
<h1>
2: Explore depth parameter with 10-folding (10 points)
</h1>
<p>
<div class=h1_cell>
<p>
In the week 4 module you were asked to explore depths from 1 to 5 without any cross-validation. Go ahead and do it again but using K-folding with K=10.
<p>
First, define the columns to use. I do that for you below.
</div>

In [0]:
splitter_columns = [
        #ApplicantIncome
       'apin_low', 'apin_high', 'apin_average',
        #Property_Area
        'pa_Rural', 'pa_Semiurban','pa_Urban',
        #LoanAmount
        'lam_Low', 'lam_Average', 'lam_High',
        #Credit_History
        'ch_bad', 'ch_good']

<hr>
<h2>
Show your results below
</h2>
<p>
<div class=h1_cell>
<p>
Explore depths 1-5 with 10-folding. You can leave the gig cutoff as default value.
</div>

In [0]:
table10_1 = 
table10_1

       name  accuracy        f1  informedness
0    fold_0  0.770492  0.847826      0.363636
1    fold_1  0.852459  0.905263      0.500000
2    fold_2  0.754098  0.835165      0.330952
3    fold_3  0.770492  0.860000      0.212567
4    fold_4  0.803279  0.875000      0.365633
5    fold_5  0.803279  0.877551      0.330214
6    fold_6  0.836066  0.886364      0.545455
7    fold_7  0.868852  0.914894      0.565508
8    fold_8  0.786885  0.865979      0.310078
9    fold_9  0.846154  0.895833      0.545455
10  average  0.809206  0.876388      0.406950

In [0]:
table10_2 = 
table10_2

       name  accuracy        f1  informedness
0    fold_0  0.770492  0.847826      0.363636
1    fold_1  0.852459  0.905263      0.500000
2    fold_2  0.754098  0.835165      0.330952
3    fold_3  0.770492  0.860000      0.212567
4    fold_4  0.803279  0.875000      0.365633
5    fold_5  0.803279  0.877551      0.330214
6    fold_6  0.819672  0.876404      0.500000
7    fold_7  0.868852  0.914894      0.565508
8    fold_8  0.786885  0.865979      0.310078
9    fold_9  0.846154  0.895833      0.545455
10  average  0.807566  0.875392      0.402404

In [0]:
table10_3 = 
table10_3

       name  accuracy        f1  informedness
0    fold_0  0.770492  0.847826      0.363636
1    fold_1  0.852459  0.905263      0.500000
2    fold_2  0.721311  0.808989      0.280952
3    fold_3  0.770492  0.860000      0.212567
4    fold_4  0.803279  0.875000      0.365633
5    fold_5  0.803279  0.877551      0.330214
6    fold_6  0.819672  0.876404      0.500000
7    fold_7  0.868852  0.914894      0.565508
8    fold_8  0.786885  0.865979      0.310078
9    fold_9  0.846154  0.895833      0.545455
10  average  0.804288  0.872774      0.397404

In [0]:
table10_4 = 
table10_4

       name  accuracy        f1  informedness
0    fold_0  0.770492  0.847826      0.363636
1    fold_1  0.852459  0.905263      0.500000
2    fold_2  0.737705  0.822222      0.305952
3    fold_3  0.770492  0.860000      0.212567
4    fold_4  0.803279  0.875000      0.365633
5    fold_5  0.803279  0.875000      0.366310
6    fold_6  0.819672  0.876404      0.500000
7    fold_7  0.868852  0.914894      0.565508
8    fold_8  0.786885  0.865979      0.310078
9    fold_9  0.846154  0.895833      0.545455
10  average  0.805927  0.873842      0.403514

In [0]:
table10_5 = 
table10_5

       name  accuracy        f1  informedness
0    fold_0  0.770492  0.847826      0.363636
1    fold_1  0.852459  0.905263      0.500000
2    fold_2  0.754098  0.835165      0.330952
3    fold_3  0.770492  0.860000      0.212567
4    fold_4  0.803279  0.875000      0.365633
5    fold_5  0.803279  0.875000      0.366310
6    fold_6  0.836066  0.886364      0.545455
7    fold_7  0.868852  0.914894      0.565508
8    fold_8  0.754098  0.842105      0.263566
9    fold_9  0.846154  0.895833      0.545455
10  average  0.805927  0.873745      0.405908

<hr>
<h1>
What does it look like to you?
</h1>
<p>
<div class=h1_cell>
<p>
To me it looks like the stump is best! As we add depth I don't see an improvement. And it looks like results from depth 4 and 5 the same. What I would try next is the gig cutoff and bringing more columns into play (e.g., Gender, Married) by applying ohe to them.
</div>

<hr>
<h1>
4: Random slices (60 points)
</h1>
<p>
<div class=h1_cell>
<p>
I'd like you to try one more thing. The `k_fold` function takes slices sequentially. I'd like you to write a function `k_fold_random` that takes random slices *without replacement*. Without replacement means that each slice should have a unique set of rows, i.e., no slices share a row
<p>
Each slice should be roughly 1/k percent of the entire table.
<p>
To solve this problem, I found it easiest to play around with loops in a notebook cell before trying to replace code in `k_fold`. My target was the equivalent of this but now with random slices:
<pre>
<code>
    total_len = len(table.index)
    slice_size = int(total_len/(1.0`*`k))
    slices = []

    #generate the slices
    for i in range(k-1):
        a_slice =  table[i`*`slice_size:(i+1)`*`slice_size]
        slices.append( a_slice )
    slices.append( table[(k-1)`*`slice_size:] )
    
    verify_unique(slices)  # I ask you to define this debugging function below
</code>
</pre>
<p>
I copied this code into a cell and then started to play around with various ideas until I got one I liked.
<p>
</div>

<h2>Help with debugging</h2>
I'll define a debugging function that will take a list of slices and do a pairwise comparison. For each pair, it will print the set intersection between the 2 slices. I give you a few test cases to try.

In [0]:
#Determine if slices are mutually exclusive
def verify_unique(slices):
    print(('total length all slices', sum([len(s) for s in slices])))
    for i, a_slice in enumerate(slices[:-1]):
        a_set = set(a_slice.index)
        for j, b_slice in enumerate(slices[i+1:]):
            b_set = set(b_slice.index)
            int_set = a_set.intersection(b_set)  # should be empty set as result
            print((i,j+i+1,int_set))
    return None

In [0]:
#test

verify_unique([loan_table[0:2], loan_table[2:4], loan_table[4:5]])  #looks good - enpty set for each pair

('total length all slices', 5)
(0, 1, set())
(0, 2, set())
(1, 2, set())

In [0]:
#test

verify_unique([loan_table[0:2], loan_table[1:4], loan_table[1:5]])  #not so good, finds intersection between all 3 pairs

('total length all slices', 9)
(0, 1, {1})
(0, 2, {1})
(1, 2, {1, 2, 3})

In [0]:
# here is sequential slice code from k_fold if you want to use it as base.
# modify it to produce slices with random rows in each slice.

table = loan_table
k = 10

total_len = len(table.index)
split_size = int(total_len/(1.0*k))
slices = []

#generate the slices
for i in range(k-1):
    a_slice =  table[i*split_size:(i+1)*split_size]
    slices.append( a_slice )
slices.append( table[(k-1)*split_size:] )

verify_unique(slices)  # should see 614 length and empty sets all the way down

<h2>
Plug your code in
</h2>
<p>
<div class=h1_cell>
<p>
Once you are generating slices randomly, you will have k test slices. You can go ahead and place your code into `k_fold_random`. You should now be good to go.
<p>
One problem with doing random selections is that we will get different results every time we run our code. We will see a way to get repeatable results in next module. For now, you may find that you are not matching my fold results.
</div>

In [0]:
def k_fold_random(table, k, target, hypers, candidate_columns):

In [0]:
k_fold_random(loan_table, 10, 'Loan_Status', {'max-depth': 1}, splitter_columns)

('total length all slices', 614)
(0, 1, set())
(0, 2, set())
(0, 3, set())
(0, 4, set())
(0, 5, set())
(0, 6, set())
(0, 7, set())
(0, 8, set())
(0, 9, set())
(1, 2, set())
(1, 3, set())
(1, 4, set())
(1, 5, set())
(1, 6, set())
(1, 7, set())
(1, 8, set())
(1, 9, set())
(2, 3, set())
(2, 4, set())
(2, 5, set())
(2, 6, set())
(2, 7, set())
(2, 8, set())
(2, 9, set())
(3, 4, set())
(3, 5, set())
(3, 6, set())
(3, 7, set())
(3, 8, set())
(3, 9, set())
(4, 5, set())
(4, 6, set())
(4, 7, set())
(4, 8, set())
(4, 9, set())
(5, 6, set())
(5, 7, set())
(5, 8, set())
(5, 9, set())
(6, 7, set())
(6, 8, set())
(6, 9, set())
(7, 8, set())
(7, 9, set())
(8, 9, set())

       name  accuracy        f1  informedness
0    fold_0  0.819672  0.899083      0.083333
1    fold_1  0.770492  0.844444      0.391304
2    fold_2  0.852459  0.896552      0.601220
3    fold_3  0.770492  0.860000      0.212567
4    fold_4  0.754098  0.838710      0.318182
5    fold_5  0.704918  0.790698      0.304444
6    fold_6  0.918033  0.947368      0.711594
7    fold_7  0.819672  0.873563      0.521739
8    fold_8  0.786885  0.863158      0.350000
9    fold_9  0.892308  0.933333      0.580000
10  average  0.808903  0.874691      0.407438

What we got with prior sequential split at depth 1: 
<pre>
10	average	0.809206	0.876388	0.406950
</pre>

In [0]:
k_fold_random(loan_table, 10, 'Loan_Status', {'max-depth': 2}, splitter_columns)

('total length all slices', 614)
(0, 1, set())
(0, 2, set())
(0, 3, set())
(0, 4, set())
(0, 5, set())
(0, 6, set())
(0, 7, set())
(0, 8, set())
(0, 9, set())
(1, 2, set())
(1, 3, set())
(1, 4, set())
(1, 5, set())
(1, 6, set())
(1, 7, set())
(1, 8, set())
(1, 9, set())
(2, 3, set())
(2, 4, set())
(2, 5, set())
(2, 6, set())
(2, 7, set())
(2, 8, set())
(2, 9, set())
(3, 4, set())
(3, 5, set())
(3, 6, set())
(3, 7, set())
(3, 8, set())
(3, 9, set())
(4, 5, set())
(4, 6, set())
(4, 7, set())
(4, 8, set())
(4, 9, set())
(5, 6, set())
(5, 7, set())
(5, 8, set())
(5, 9, set())
(6, 7, set())
(6, 8, set())
(6, 9, set())
(7, 8, set())
(7, 9, set())
(8, 9, set())

       name  accuracy        f1  informedness
0    fold_0  0.836066  0.891304      0.500000
1    fold_1  0.803279  0.853659      0.532222
2    fold_2  0.754098  0.845361      0.239348
3    fold_3  0.786885  0.876190      0.112179
4    fold_4  0.672131  0.782609      0.164760
5    fold_5  0.868852  0.911111      0.600000
6    fold_6  0.786885  0.857143      0.403571
7    fold_7  0.885246  0.926316      0.588235
8    fold_8  0.803279  0.877551      0.333333
9    fold_9  0.876923  0.924528      0.500000
10  average  0.807364  0.874577      0.397365

What we got in sequential at depth 2:
<pre>
10	average	0.807566	0.875392	0.402404
</pre>
Let's try one more.

In [0]:
k_fold_random(loan_table, 10, 'Loan_Status', {'max-depth': 3}, splitter_columns)

('total length all slices', 614)
(0, 1, set())
(0, 2, set())
(0, 3, set())
(0, 4, set())
(0, 5, set())
(0, 6, set())
(0, 7, set())
(0, 8, set())
(0, 9, set())
(1, 2, set())
(1, 3, set())
(1, 4, set())
(1, 5, set())
(1, 6, set())
(1, 7, set())
(1, 8, set())
(1, 9, set())
(2, 3, set())
(2, 4, set())
(2, 5, set())
(2, 6, set())
(2, 7, set())
(2, 8, set())
(2, 9, set())
(3, 4, set())
(3, 5, set())
(3, 6, set())
(3, 7, set())
(3, 8, set())
(3, 9, set())
(4, 5, set())
(4, 6, set())
(4, 7, set())
(4, 8, set())
(4, 9, set())
(5, 6, set())
(5, 7, set())
(5, 8, set())
(5, 9, set())
(6, 7, set())
(6, 8, set())
(6, 9, set())
(7, 8, set())
(7, 9, set())
(8, 9, set())

       name  accuracy        f1  informedness
0    fold_0  0.786885  0.857143      0.409091
1    fold_1  0.819672  0.867470      0.556064
2    fold_2  0.786885  0.853933      0.434783
3    fold_3  0.754098  0.851485      0.143056
4    fold_4  0.754098  0.835165      0.330952
5    fold_5  0.721311  0.804598      0.332222
6    fold_6  0.836066  0.893617      0.483957
7    fold_7  0.786885  0.868687      0.277778
8    fold_8  0.852459  0.910891      0.400000
9    fold_9  0.938462  0.963636      0.666667
10  average  0.803682  0.870662      0.403457

What we got in sequential at depth 3:
<pre>
10	average	0.804288	0.872774	0.397404
</pre>
Random looks very close to sequential. With this small a dataset, I could see that happening. In general, random is prefered. With sequential you might be picking up some funny ordering of the rows. Maybe they listed the best applicants first.

<hr>
<h1>Did not change loan table</h1>
<div class=h1_cell>
<p>
No need to write it out.
</div>

<hr>
<h1>We did change library</h1>
<div class=h1_cell>
<p>
We added `verify_unique` and `k_fold_random`. Add them to your library and call new file `library_w19_5b.py`. I added the `b` to differentiate it from functions we added in intro notebook and top of this one.
</div>