<h1>
<center>
Midterm 3
</center>
</h1>
<div class=h1_cell>
<p>
There are 2 parts on the midterm, 50 points each. Each part has 3 questions.
<p>
We will use the Titanic table for this midterm. I have a wrangled version of it on google sheets that I set up for you.
<p>
</div>

In [1]:
import pandas as pd


titanic_table = pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vR2XbLnUuYlxaFMdS8_bBX3iKUIDEii6Lg5Rxesf-Oh8a6z8-vAN6UDGejaOrBg5130h4O_dLkecKWQ/pub?output=csv')

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
titanic_table.head(1)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,no_age,filled_age,emb_C,emb_Q,emb_S,emb_nan,age_bin,age_Child,age_Adult,age_Senior,sex_female,sex_male,ok_child,pclass_1,pclass_2,pclass_3,pclass_nan
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,NaN,S,0,22.0,0,0,1,0,Child,1,0,0,0,1,0,0,0,1,0

In [0]:
#!rm library_w19_week7.py

rm: cannot remove 'library_w19_week7.py': No such file or directory

In [4]:
#from google.colab import files
#files.upload()

In [5]:
from library_w19_week7 import *

%who function

accuracy	 build_pred	 build_tree_iter	 compute_prediction	 compute_training	 euclidean_distance	 f1	 find_best_splitter	 forest_builder
forest_scores	 generate_table	 gig	 gini	 informedness	 k_fold	 k_fold_random	 knn	 knn_tester
path_id	 predictor_case	 probabilities	 produce_scores	 reorder_paths	 tree_predictor	 verify_unique	 vote_taker

<h2>Columns used in all questions</h2>

We will use 14 columns from the table to make predictions on `Survived`.

In [6]:
usable_columns = [
 'emb_C',
 'emb_Q',
 'emb_S',
 'emb_nan',
 'age_Child',
 'age_Adult',
 'age_Senior',
 'no_age',
 'ok_child',
 'sex_female',
 'pclass_1',
 'pclass_2',
 'pclass_3',
 'pclass_nan'
]

target = 'Survived'

<h1>
Part 1. Explore random forest behavior
</h1>
<div class=h1_cell>
<p>
For prediction purposes, we have been treating a forest as a single predictor. It does call on its trees to get a prediction, but we don't see that. All we see is the final prediction. I'd like to dig deeper into individual tree behavior. I'll ask you to complete a set of programming problems to do this.
</div>

<h2>
Problem 1. Build a matrix of tree predictions (5 points)
</h2>
<div class=h1_cell>
<p>
The matrix will be a list of lists. Let's say the forest we are working with has 13 trees. Then the first list will be the predictions of the 13 trees for row 0 of the Titanic table, i.e., it will be a list of 13 binary values. The next list will be the 13 predictions for row 1 of the Titanic table. Given that we have 891 rows in the Titanic table, we will have 891 lists in our outer list.
<p>
Let's say I store my matrix in `all_trees`. Then `all_trees[i][j]` will represent the vote of the jth tree for row i.
  <p>
    Here is what you should see for the first 10 rows.
<p>
<pre>
[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1],
 [0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0],
 [1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0],
 [0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1],
 [0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0],
 [1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1]]
 </pre>

</div>

<h2>
Here is forest to test on
</h2>
<div class=h1_cell>
<p>
  But first set random seeds so you get same results as mine.
</div>

In [7]:
import random

rng = np.random.RandomState(24)  #Will pass as arg to pandas sample method
random.seed(2000)

In [8]:
forest13 = forest_builder(titanic_table, usable_columns, target, hypers={'total-trees':13, 'random-state':rng})
len(forest13)

13


Build the voting matrix for the 13 trees.

In [11]:
trees = []
for i in range(len(titanic_table)):    #for row in table
    row_prediction = [];
    
    #could use enumerate
    for j in forest13:                 #for tree in forest
        row_prediction.append(tree_predictor(titanic_table.loc[i], j))    #tree_predictor(row, tree)
    trees.append(row_prediction)

all_trees[:10]

[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1],
 [0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0],
 [1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
 [1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0],
 [0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1],
 [0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0],
 [1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1]]

<h1>
Problem 2: most incorrect tree (15 points)
</h1>
<div class=h1_cell>
<p>
Produce an ordered list, from most incorrect to least incorrect, of the 13 trees taken over the 891 rows. A tree is incorrect if its prediction is a mismatch with the `Survived` column in the target row. Here are my results.
  <pre>
[(9, 317),
 (8, 314),
 (5, 310),
 (12, 304),
 (0, 296),
 (11, 296),
 (3, 278),
 (7, 254),
 (6, 248),
 (4, 217),
 (1, 190),
 (10, 190),
 (2, 184)]
 </pre>
  The loser is tree9. It was incorrect 317 out of 891 times.
</div>

In [19]:
incorrect = {}   #dict of 0s
for i in range(len(forest13)):
    incorrect[i] = 0
    
for j in range(len(titanic_table)):
    predictions = all_trees[j]
    row = titanic_table.loc[j]
    target_value = row[target]
    
    for k in range(len(row_predictions)):
        #increment if predictions doesnt match actual
        if (predictions[k] != target_value):
            incorrect[k] += 1

incorrect = sorted(incorrect.items(), key = lambda pair: pair[1], reverse = True)
incorrect

[(9, 317),
 (8, 314),
 (5, 310),
 (12, 304),
 (0, 296),
 (11, 296),
 (3, 278),
 (7, 254),
 (6, 248),
 (4, 217),
 (1, 190),
 (10, 190),
 (2, 184)]

<h1>
Problem 3: voting blocks (30 points)
</h1>
<div class=h1_cell>
<p>
Taking trees as triples, produce an ordered list of which trees vote the same (right or wrong) most often.
  <p>
    For each specific row:
    <pre>
 1. if (tree1,tree2, tree3) vote the same then I record that.
 2. if (tree1,tree2, tree4) vote the same then I record that.
 etc
</pre>
I do that for the entire table. Here is first part of sorted list I got for forest13.
<pre>
[((5, 8, 12), 849),
 ((2, 7, 10), 787),
 ((2, 3, 10), 769),
 ((1, 4, 6), 742),
 ((3, 7, 10), 721),
 ((1, 2, 10), 719),
 ((2, 3, 7), 693),
 ((2, 6, 10), 689),
 ((7, 9, 10), 679),
 ((1, 6, 10), 676)]
</pre>
  So tree5 and tree8 and tree12 vote the same (right or wrong) 849 out of 891 times.
</div>

In [80]:
def combinations(iterable, r):
    #from python documentation
    pool = tuple(iterable)
    n = len(pool)
    if r > n:
        return
    indices = range(r)
    yield tuple(pool[i] for i in indices)
    while True:
        for i in reversed(range(r)):
            if indices[i] != i + n - r:
                break
        else:
            return
        indices[i] += 1
        for j in range(i+1, r):
            indices[j] = indices[j-1] + 1
        yield tuple(pool[i] for i in indices)
        
        
        
combos = list(combinations(range(len(forest13)), 2))
voting = {}    #dict of 0s
for i in range(len(combos)):
    voting[combos[i]] = 0
    
for i in range(len(forest13)):
    del voting[(i, i, i)]
    
for i in range(len(titanic_table)):
    row = trees[i]
    for j in voting:
        if(row[j[0]] == row[j[1]] == row[j[1]]):
            voting[j]+=1

block3_list = sorted(voting_blocks.items(), key=lambda pair: pair[1], reverse=True)      
block3_list[:10]

TypeError: 'range' object does not support item assignment

It looks like for 891 rows, trees 5 and 8 and 12 vote the same 849 times.

<h1>
Part 2. Explore knn behavior
</h1>
<div class=h1_cell>
<p>
If I set k=10, then I take the 10 rows with the smallest distance as voters. You all know that. But the value for k is somewhat arbitrary. What if I chose k=11? Would it matter?
  <p>
So what I am interested in is if I set k=10, what about the 11th row? It is the one that just missed the cut. Maybe it has useful info to offer but I keep cutting it off. I am going to ask you to explore the set of just left out rows, e.g., the 11th row when k=10. If we find that the 11th row is usually correct, we can increment k to be 11.
    <p>
      I'll ask you to do exploration in a set of 3 problems.
</div>

In [27]:
small_titanic = titanic_table[:100]  #use this slice in your code to cut down on computing time

<h1>
Problem 4: A row's just-missed counts (15 points)
</h1>
<div class=h1_cell>
<p>
  Loop through all the rows in the small titanic table and compute the sorted list of differences for each. For now, I don't care about the first k. All I want is the index of the k+1 item in the sorted distances, i.e., the row that almost made the cut but not quite.
For instance, if k is 10, I want to know the index of 11th item (actually the 10th item with 0-indexing). Record the 11th item's index. When finished print out how many times each row was just missed. Here are the first part of my results. I will use k=10 for all the questions in this part.
  <pre>
[(91, 11),
 (51, 8),
 (2, 7),
 (76, 7),
 (5, 6),
 (21, 6),
 (64, 5),
 (17, 4),
 (23, 4),
 (26, 4)]
 </pre>
  So row 51 just missed being in the top-10 8 times.
</div>

In [81]:
def knn_missed(row_index, table, columns, k, target):
    length = len(table) # get the length of the table
    t = table[columns]

    distance = []
    for i in range(len(t)): 
        #append the indexes and their distances
        distance.append(tuple([i, euclidean_distance(list(t.iloc[row_index]), list(t.iloc[i]))]))

    # sort the distances   
    sorted_dist = sorted(distance,key = lambda i: i[1])
    missed_k = []

    
    #find second to max
    for key, item in enumerate(sorted_dist):
        #print(item)
        if (key > k):
            break
        missed_k.append(item[0])
    """
    #find second to max
    for i in range(len(sorted_dist)):
        #print(max(sorted_dist[i]))
        missed_k.append(sorted_dist[-2])    #second largest
    """
    
    return missed_k

almost = {}
for i in range(len(small_titanic)):
    almost[i] = 0
    
for i in range(len(small_titanic)):
    missed = knn_missed(i, small_titanic, usable_columns, 10, target)
    for j in missed:
        #print(j)
        almost[j]+=1
        
just_missed_list = sorted(topk.items(), key=lambda pair: pair[1], reverse=True)
just_missed_list[:10]

[(0, 31),
 (12, 29),
 (4, 28),
 (13, 28),
 (37, 28),
 (8, 20),
 (29, 20),
 (45, 20),
 (51, 20),
 (59, 20)]

<h1>
Problem 5: Just missed was correct (15 points)
</h1>
<div class=h1_cell>
<p>
Let's delve a little deeper into the k+1 rows. I'd like to know how many times they were correct. If k=10 then count how many times the 11th row was correct. Store your result in missed_correct_list, in sorted fashion. Here are the first part of my results.
  <pre>
[(91, 11),
 (5, 6),
 (51, 6),
 (2, 5),
 (69, 4),
 (17, 3),
 (64, 3),
 (76, 3),
 (10, 2),
 (21, 2)]
 </pre>
  So when row 51 was in the top-10, it was correct 6 times.
</div>

In [82]:
def missed_correct(row_index, table, columns,k, target):
    tab = table[columns]
    
    distance = []
    for i in range(len(tab)): 
        #append the indexes and their distances
        distance.append(tuple([i, euclidean_distance(list(tab.iloc[row_index]), list(tab.iloc[i]))]))

    sorted_dist = sorted(distance,key = lambda i: i[1])
  
    votes = {}
  
    #gather votes from k rows 
    for key, item in enumerate(sorted_dist):
        if (key > k):
            break
        row = table.iloc[item[0]]
        vote = row[target]
        votes[item[0]] = vote
    return votes

pairs = {}
for i in range(len(small_titanic)):
    pairs[i] = 0

for i in range(len(small_titanic)):
    row = small_titanic.loc[i]
    #targ = row[target]
    votes = missed_correct(i, small_titanic, usable_columns, 10, target)
    for n, v in votes.items():
        if (v == row[target]):
            participant_pairs[n]+=1

correct_missed_list = sorted(participant_pairs.items(), key=lambda pair: pair[1], reverse=True)
correct_missed_list[:10]

[(0, 52),
 (12, 52),
 (37, 52),
 (4, 40),
 (13, 40),
 (51, 40),
 (59, 40),
 (67, 38),
 (69, 30),
 (8, 28)]

<h1>
Problem 6: Tip the scales (20 points)
</h1>
<div class=h1_cell>
<p>
Ok, finally to the question I really want to answer. If I am going to start including the 11th row by making k=11, I want to know if adding the row makes a difference. Would it have tipped the scales? As usual, go through all 891 rows and get the sorted distances for each. But now go ahead and get the votes of the top 10. Once you count the 10 votes, you will come up with a prediction as normal. What I want to know is whether the 11th vote would have tipped the scales. If you took just the 10, you get one result. If you add in the 11th vote you get a different result. Give me a sorted list of rows that tipped the scales acting as the 11th voter.
  <pre>
[(2, 4),
 (23, 3),
 (53, 2),
 (65, 1),
 (84, 1),
 (0, 0),
 (1, 0),
 (3, 0),
 (4, 0),
 (5, 0)]
 </pre>
  So row 2. acting as the k+1 voter, switched the outcome of the vote 4 times. Looking at this list, I would probably give up adding an 11th voter (i.e., changing k=11). Only a small number of examples where it actually makes a difference.
</div>

In [78]:
prediction_table = []
for i in range(len(titanic_table)):
    prediction_table.append((i,0))
    
for i in range(len(titanic_table)):
    if(knn(i, titanic_table , usable_columns, 10, target) != knn(i, titanic_table , usable_columns, 11, target)):
        #not finding all of the differences for some reason
        #prediction_table[i][1] += 1
        pred = list(prediction_table[i])
        pred[1] += 1
        prediction_table[i] = tuple(pred)

scale_tipper_list = sorted(prediction_table, key=lambda pair: pair[1], reverse=True)
scale_tipper_list[:10]

0
0

[(3, 1),
 (39, 1),
 (0, 0),
 (1, 0),
 (2, 0),
 (4, 0),
 (5, 0),
 (6, 0),
 (7, 0),
 (8, 0)]